#login {
	width: 50%;
	margin: 0 auto;
	margin: 3% 25% 3% 25% ;
	background: #d7d7d8;
	border-radius: 15px;

}

#login form {
	padding: 20px;
	
}

.caption {
	text-align: center;
}
.caption a {
	color: #333333
}

.contenido {
	margin-top: 3em;
}

.thumbnail i {
	margin:0 40%;
}

.text h3 {
	position: absolute;
	z-index: 10
}



.organizaciones {
	font-size: 12px !important;
}

.imglogo img {
	max-width: none;
}

#text {
	margin-top: 3em;
	margin-bottom: 5em;
}

h4 {
	margin-bottom: 5px;
}

.caption h5 {
	margin-bottom: 0px !important;
}

.thumbnail i {
	margin-top: 5px;
	color: #6B6864
}

