#login {
	width: 50%;
	margin: 0 auto;
	margin: 3% 25% 3% 25% ;
	background: #d7d7d8;
	border-radius: 15px;
}

#login form {
	padding: 50px;
	
}

.caption {
	text-align: center;
}
.caption a {
	color: #333333
}

.contenido {
	margin-top: 3em;
}

.thumbnail i {
	margin:0 40%;
}

.text h3 {
	position: absolute;
	z-index: 10
}



.organizaciones {
	font-size: 12px !important;
}

.imglogo img {
	max-width: none;
}

#text {
	margin-top: 3em;
	margin-bottom: 5em;
}

h4 {
	margin-bottom: 5px;
}

.caption h5 {
	margin-bottom: 0px !important;
}

.thumbnail i {
	margin-top: 5px;
	color: #6B6864
}

.breadcrumb>li+li:before {
  color: rgba(15, 8, 8, 1);
  content: "\276F\00a0";
}

h5, .h5 {
  font-size: 20px;
   margin-bottom: 0px !important;
}

#filtros {
	margin: 60px 0 60px 0;
	background: #FDCB07;
	opacity: 0.8;
	padding: 7px;
	border-radius: 15px;
}

.jumbotron h4 {
	text-align: center;
}

.jumbotron {
  padding: 15px !important;
}

#text_theme {
	margin-bottom: 2em !important ;
}

.space {
	margin-bottom: 3em !important;
}