
.panel-default>.panel-heading {
  background-color: #26211d !important;
  color: white !important;
}

.panel-title {
  font-size: 18px !important;
}

#accordion {
	margin: 0px 15px 20px 15px
}

.margin-div {
	margin-left: -30px !important
}

@media (max-width: 375px) {
	.highcharts-container {
		width: 
	}
}