{% extends "cambiaahora/base.html" %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="/static/violencia_juvenil/js/highcharts.js"></script>
<script src="/static/violencia_juvenil/js/exporting.js"></script>
<script>
$(function () {
		$('#pregunta16').highcharts({
			chart: {
				type: 'column'
			},
			title: {
				text: '¿Qué piensa de los jóvenes violentos?'
			},

			credits: {
				enabled: false
			},

			tooltip: {
				formatter: function() {
					return ''+
					this.series.name +': '+ this.y +'%';
				}
			},
			yAxis: {
				min: 0,
				title: {
					text: 'Porcentajes'
				}
			},
			legend: {
				layout: 'vertical',
				align: 'right',
				verticalAlign: 'middle',
				borderWidth: 0
			},
			xAxis: {
				categories: [
				'Jóvenes violentos',
				
				],
				crosshair: true
			},
			plotOptions: {
				series: {
					borderWidth: 0,
					groupPadding: 0.1,
					dataLabels: {
						enabled: true,
						format: '{point.y:.1f}%',
						color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
						style: {
							textShadow: '0 0 3px white'
						}
					}
				}
			},
			series: [
			{% for k,v in pregunta16.items %}
			{
				name: '{{k}}',
				data: [{{v}}],
				
			},
			{% endfor %}
			]
		});
	});

$(function () {
		$('#pregunta17').highcharts({
			chart: {
				type: 'column'
			},
			title: {
				text: '¿Cómo prevenir la violencia juvenil y el abuso de drogas?'
			},

			credits: {
				enabled: false
			},

			tooltip: {
				formatter: function() {
					return ''+
					this.series.name +': '+ this.y +'%';
				}
			},
			yAxis: {
				min: 0,
				title: {
					text: 'Porcentajes'
				}
			},
			legend: {
				layout: 'vertical',
				align: 'right',
				verticalAlign: 'middle',
				borderWidth: 0
			},
			xAxis: {
				categories: [
				'Acciones',
				
				],
				crosshair: true
			},
			plotOptions: {
				series: {
					borderWidth: 0,
					groupPadding: 0.1,
					dataLabels: {
						enabled: true,
						format: '{point.y:.1f}%',
						color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
						style: {
							textShadow: '0 0 3px white'
						}
					}
				}
			},
			series: [
			{% for k,v in pregunta17.items %}
			{
				name: '{{k}}',
				data: [{{v}}],
				
			},
			{% endfor %}
			]
		});
	});

$(function () {
		$('#pregunta18').highcharts({
			chart: {
				type: 'column'
			},
			title: {
				text: '¿Cuáles son las principales causas de la violencia juvenil?'
			},

			credits: {
				enabled: false
			},

			tooltip: {
				formatter: function() {
					return ''+
					this.series.name +': '+ this.y +'%';
				}
			},
			yAxis: {
				min: 0,
				title: {
					text: 'Porcentajes'
				}
			},
			legend: {
				layout: 'vertical',
				align: 'right',
				verticalAlign: 'middle',
				borderWidth: 0
			},
			xAxis: {
				categories: [
				'Causas',
				
				],
				crosshair: true
			},
			plotOptions: {
				series: {
					borderWidth: 0,
					groupPadding: 0.1,
					dataLabels: {
						enabled: true,
						format: '{point.y:.1f}%',
						color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
						style: {
							textShadow: '0 0 3px white'
						}
					}
				}
			},
			series: [
			{% for k,v in pregunta18.items %}
			{
				name: '{{k}}',
				data: [{{v}}],
				
			},
			{% endfor %}
			]
		});
	});
</script>
{% endblock extra_js %}

{% block contenido %}
<div class="container">
	{% include "violencia_juvenil/filtros.html" %}
	<div class="row">
		<div class="col-md-12" id="pregunta16" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
		<div class="col-md-12" id="pregunta17" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
		<div class="col-md-12" id="pregunta18" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
	</div>
</div>
{% endblock contenido %}