{% extends "cambiaahora/base.html" %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="/static/violencia_juvenil/js/highcharts.js"></script>
<script src="/static/violencia_juvenil/js/exporting.js"></script>
<script>
	{% for key,value in year.items %}
	$(function () {
		$('#pregunta1{{key}}').highcharts({
			chart: {
				type: 'column'
			},
			title: {
				text: '¿Qué es Violencia Juvenil?'
			},

			credits: {
				enabled: false
			},

			tooltip: {
				formatter: function() {
					return ''+
					this.series.name +': '+ this.y +'%';
				}
			},
			yAxis: {
				min: 0,
				title: {
					text: 'Porcentajes'
				}
			},
			legend: {
				layout: 'vertical',
				align: 'right',
				verticalAlign: 'middle',
				borderWidth: 0
			},
			xAxis: {
				categories: [
				'Violencia',
				
				],
				crosshair: true
			},
			plotOptions: {
				series: {
					borderWidth: 0,
					groupPadding: 0.1,
					dataLabels: {
						enabled: true,
						format: '{point.y:.1f}%',
						color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
						style: {
							textShadow: '0 0 3px white'
						}
					}
				}
			},
			series: [
			{% for k,v in value.1.items %}
			{
				name: '{{k}}',
				data: [{{v}}],
				
			},
			{% endfor %}
			]
		});
	});

$(function () {
	$('#pregunta2{{key}}').highcharts({
		chart: {
			type: 'column'
		},
		title: {
			text: '¿Qué es el abuso de drogas?'
		},

		credits: {
			enabled: false
		},

		tooltip: {
			formatter: function() {
				return ''+
				this.series.name +': '+ this.y +'%';
			}
		},
		yAxis: {
			min: 0,
			title: {
				text: 'Porcentajes'
			}
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'middle',
			borderWidth: 0
		},
		xAxis: {
			categories: [
			'Abuso de drogas',

			],
			crosshair: true
		},
		plotOptions: {
			series: {
				borderWidth: 0,
				groupPadding: 0.1,
				dataLabels: {
					enabled: true,
					format: '{point.y:.1f}%',
					color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
					style: {
						textShadow: '0 0 3px white'
					}
				}
			}
		},
		series: [
		{% for k,v in value.2.items %}
		{
			name: '{{k}}',
			data: [{{v}}],

		},
		{% endfor %}
		]
	});
});

$(function () {
	$('#pregunta5{{key}}').highcharts({
		chart: {
			type: 'column'
		},
		title: {
			text: '¿Qué lleva a un joven a ser violento?'
		},

		credits: {
			enabled: false
		},

		tooltip: {
			formatter: function() {
				return ''+
				this.series.name +': '+ this.y +'%';
			}
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'middle',
			borderWidth: 0
		},
		yAxis: {
			min: 0,
			title: {
				text: 'Porcentajes'
			}
		},
		xAxis: {
			categories: [
			'Joven violento',

			],
			crosshair: true
		},
		plotOptions: {
			series: {
				borderWidth: 0,
				groupPadding: 0.1,
				dataLabels: {
					enabled: true,
					format: '{point.y:.1f}%',
					color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
					style: {
						textShadow: '0 0 3px white'
					}
				}
			}
		},
		series: [
		{% for k,v in value.3.items %}
		{
			name: '{{k}}',
			data: [{{v}}],

		},
		{% endfor %}
		]
	});
});

$(function () {
	$('#pregunta6{{key}}').highcharts({
		chart: {
			type: 'column'
		},
		title: {
			text: '¿Quiénes son los más perjudicados por la violencia juvenil y el abuso de drogas?'
		},

		credits: {
			enabled: false
		},

		tooltip: {
			formatter: function() {
				return ''+
				this.series.name +': '+ this.y +'%';
			}
		},
		yAxis: {
			min: 0,
			title: {
				text: 'Porcentajes'
			}
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'middle',
			borderWidth: 0
		},
		xAxis: {
			categories: [
			'Perjudicados',

			],
			crosshair: true
		},
		plotOptions: {
			series: {
				borderWidth: 0,
				groupPadding: 0.1,
				dataLabels: {
					enabled: true,
					format: '{point.y:.1f}%',
					color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
					style: {
						textShadow: '0 0 3px white'
					}
				}
			}
		},
		series: [
		{% for k,v in value.4.items %}
		{
			name: '{{k}}',
			data: [{{v}}],

		},
		{% endfor %}
		]
	});
});

$(function () {
	$('#pregunta8{{key}}').highcharts({
		chart: {
			type: 'column'
		},
		title: {
			text: '¿Quiénes deben ser los responsables de prevenir la violencia juvenil?'
		},

		credits: {
			enabled: false
		},

		tooltip: {
			formatter: function() {
				return ''+
				this.series.name +': '+ this.y +'%';
			}
		},
		yAxis: {
			min: 0,
			title: {
				text: 'Porcentajes'
			}
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'middle',
			borderWidth: 0
		},
		xAxis: {
			categories: [
			'Responsables',

			],
			crosshair: true
		},
		plotOptions: {
			series: {
				borderWidth: 0,
				groupPadding: 0.1,
				dataLabels: {
					enabled: true,
					format: '{point.y:.1f}%',
					color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
					style: {
						textShadow: '0 0 3px white'
					}
				}
			}
		},
		series: [
		{% for k,v in value.5.items %}
		{
			name: '{{k}}',
			data: [{{v}}],

		},
		{% endfor %}
		]
	});
});

$(function () {
	$('#pregunta10{{key}}').highcharts({
		chart: {
			type: 'column'
		},
		title: {
			text: '¿Qué es el abuso sexual?'
		},

		credits: {
			enabled: false
		},

		tooltip: {
			formatter: function() {
				return ''+
				this.series.name +': '+ this.y +'%';
			}
		},
		yAxis: {
			min: 0,
			title: {
				text: 'Porcentajes'
			}
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'middle',
			borderWidth: 0
		},
		xAxis: {
			categories: [
			'Definición',

			],
			crosshair: true
		},
		plotOptions: {
			series: {
				borderWidth: 0,
				groupPadding: 0.1,
				dataLabels: {
					enabled: true,
					format: '{point.y:.1f}%',
					color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
					style: {
						textShadow: '0 0 3px white'
					}
				}
			}
		},
		series: [
		{% for k,v in value.6.items %}
		{
			name: '{{k}}',
			data: [{{v}}],

		},
		{% endfor %}
		]
	});
});
$(function () {
	$('#pregunta11{{key}}').highcharts({
		chart: {
			type: 'column'
		},
		title: {
			text: '¿En qué lugares ocurren más los abusos sexuales?'
		},
		credits: {
			enabled: false
		},
		tooltip: {
			formatter: function() {
				return ''+
				this.series.name +': '+ this.y +'%';
			}
		},
		yAxis: {
			min: 0,
			title: {
				text: 'Porcentajes'
			}
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'middle',
			borderWidth: 0
		},
		xAxis: {
			categories: [
			'Lugares',

			],
			crosshair: true
		},
		plotOptions: {
			series: {
				borderWidth: 0,
				groupPadding: 0.1,
				dataLabels: {
					enabled: true,
					format: '{point.y:.1f}%',
					color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
					style: {
						textShadow: '0 0 3px white'
					}
				}
			}
		},
		series: [
		{% for k,v in value.7.items %}
		{
			name: '{{k}}',
			data: [{{v}}],
		},
		{% endfor %}
		]
	});
});

$(function () {
	$('#pregunta12{{key}}').highcharts({
		chart: {
			type: 'column'
		},
		title: {
			text: '¿Qué hacer para prevenir el abuso sexual?'
		},
		credits: {
			enabled: false
		},
		tooltip: {
			formatter: function() {
				return ''+
				this.series.name +': '+ this.y +'%';
			}
		},
		yAxis: {
			min: 0,
			title: {
				text: 'Porcentajes'
			}
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'middle',
			borderWidth: 0
		},
		xAxis: {
			categories: [
			'Acciones',
			],
			crosshair: true
		},
		plotOptions: {
			series: {
				borderWidth: 0,
				groupPadding: 0.1,
				dataLabels: {
					enabled: true,
					format: '{point.y:.1f}%',
					color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
					style: {
						textShadow: '0 0 3px white'
					}
				}
			}
		},
		series: [
		{% for k,v in value.8.items %}
		{
			name: '{{k}}',
			data: [{{v}}],
		},
		{% endfor %}
		]
	});
});

$(function () {
	$('#pregunta14{{key}}').highcharts({
		chart: {
			type: 'column'
		},
		title: {
			text: '¿Para educar a los niños y niñas se les debe pegar?'
		},
		credits: {
			enabled: false
		},
		tooltip: {
			formatter: function() {
				return ''+
				this.series.name +': '+ this.y +'%';
			}
		},
		yAxis: {
			min: 0,
			title: {
				text: 'Porcentajes'
			}
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'middle',
			borderWidth: 0
		},
		xAxis: {
			categories: [
			'Acciones',
			],
			crosshair: true
		},
		plotOptions: {
			series: {
				borderWidth: 0,
				groupPadding: 0.1,
				dataLabels: {
					enabled: true,
					format: '{point.y:.1f}%',
					color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
					style: {
						textShadow: '0 0 3px white'
					}
				}
			}
		},
		series: [
		{% for k,v in value.9.items %}
		{
			name: '{{k}}',
			data: [{{v}}],
		},
		{% endfor %}
		]
	});
});
{% endfor %}
</script>
{% endblock extra_js %}

{% block contenido %}
<style>
.nav-tabs > li > a {
	color: black !important;
}
.table{
		width: auto !important;
	}
</style>
<div class="container">
	{% include "violencia_juvenil/filtros.html" %}
	<div class="row">
		<div id="tabs">
			<ul class="nav nav-tabs" role="tablist">
				<li><a >Años:</a></li>
				{% for key in year.keys %}
				<li role="presentation" class="{% if forloop.counter == 1 %}active{% endif %}" id="{{forloop.counter}}"><a href="#{{key}}" aria-controls="{{key}}" role="tab" data-toggle="tab">{{key}}</a></li>
				{% endfor %}
			</ul>
			<div class="tab-content">
				{% for key in year.keys %}
				<div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{key}}">
					<div class="col-md-12" id="pregunta1{{key}}" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
					<div class="col-md-12" id="pregunta2{{key}}" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
					<div class="col-md-12" id="pregunta5{{key}}" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
					<div class="col-md-12" id="pregunta6{{key}}" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
					<div class="col-md-12" id="pregunta8{{key}}" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
					<div class="col-md-12" id="pregunta10{{key}}" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
					<div class="col-md-12" id="pregunta11{{key}}" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
					<div class="col-md-12" id="pregunta12{{key}}" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
					<div class="col-md-12" id="pregunta14{{key}}" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock contenido %}