<script>
	$(function () {
		$('#pregunta36').highcharts({
			chart: {
				type: 'column'
			},
			title: {
				text: 'Si no hay lugares en la comunidad, ¿dónde se atienden las víctimas?'
			},

			credits: {
				enabled: false
			},

			tooltip: {
				formatter: function() {
					return ''+
					this.series.name +': '+ this.y +'%';
				}
			},
			legend: {
				layout: 'vertical',
				align: 'right',
				verticalAlign: 'middle',
				borderWidth: 0
			},
			xAxis: {
				categories: [
				'Respuesta',
				
				],
				crosshair: true
			},
			plotOptions: {
				series: {
					borderWidth: 0,
					groupPadding: 0.1,
					dataLabels: {
						enabled: true,
						format: '{point.y:.1f}%',
						color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
						style: {
							textShadow: '0 0 3px white'
						}
					}
				}
			},
			series: [
			{% for k,v in pregunta36.items %}
			{
				name: '{{k}}',
				data: [{{v}}],
				
			},
			{% endfor %}
			]
		});
	});

	$(function () {
		$('#pregunta37').highcharts({
			chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false,
				type: 'pie'
			},
			title: {
				text: '¿Ha escuchado de la Campaña: Cambia ahora solo hazlo?'
			},
			tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
			},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
						format: '<b>{point.name}</b>: {point.percentage:.2f} %',
						style: {
							color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
						}
					}
				}
			},
			series: [{
				name: 'Procentaje',
				colorByPoint: true,
				data: [
				{% for k,v in pregunta37.items %}
				{
					name: '{{k}}',
					y: {{v}},
					{% if forloop.counter == 1 %}
					sliced: true,
					selected: true
					{% endif %}
				},
				{% endfor %}
				]
			}]
		});
	});
</script>