		<div class="panel-group indicadores-violencia" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<span class="fa fa-bars"> </span>Indicadores
						</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
						<div class="row">
							<a class="btn btn-default" href="/violencia_juvenil/conocimiento/" role="button">Conocimiento</a>
							<a class="btn btn-default" href="/violencia_juvenil/actitud/" role="button">Actitud</a>
							<a class="btn btn-default" href="/violencia_juvenil/practicas/" role="button">Practicas</a>
							<a class="btn btn-default" href="/violencia_juvenil/percepcion/" role="button">Percepción</a>
							<a class="btn btn-default" href="/violencia_juvenil/estado_actual/" role="button">Estado actual</a>
						</div>
					</div>
				</div>
			</div>
		</div>