
<!--
		<div class="nencuestas">
			
				<table class="table table-bordered t-encuesta">				
					<tbody>
						<tr>		
							<th>Años</th>		
							{% for k in year.keys %}		
							<th>{{k}}</th>		
							{% endfor %}		
						</tr>	
						<tr>		
							<td>No. Encuestas</td>		
							{% for v in year.values %}		
							<td>{{v.0}}</td>		
							{% endfor %}		
						</tr>		
					</tbody>		
				</table>

		</div>
-->
		<div class="panel-group indicadores-violencia" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<span class="fa fa-bars"> </span>Indicadores
						</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-offset-2">
								{% if request.path != '/encuesta_cap/dashboard/' %}
									<a class="btn btn-warning" href="/encuesta_cap/dashboard/" role="button">Tablero principal</a>
								{% endif %}
								<a class="btn btn-warning" href="/encuesta_cap/conocimiento/" role="button">Conocimiento</a>
								<a class="btn btn-warning" href="/encuesta_cap/actitud/" role="button">Actitud</a>
								<a class="btn btn-warning" href="/encuesta_cap/practicas/" role="button">Practicas</a>
								<a class="btn btn-warning" href="/encuesta_cap/percepcion/" role="button">Percepción</a>
								<a class="btn btn-warning" href="/encuesta_cap/estado_actual/" role="button">Estado actual</a>
								<!--<a class="btn btn-warning" href="/encuesta_cap/otros/" role="button">Otros</a>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>