{% extends "biblioteca/base.html" %}

{% load staticfiles%}

{% block contenido %}
<!-- banner slider End Here -->
<style type="text/css">
	h1 strong, .h1 strong, h2 strong, .h2 strong, h3 strong, .h3 strong, h2 strong, .h2 strong, h4 strong, .h4 strong{
		text-transform: none;
	}
</style>
<div class="container">
	<section class="temas-index">
		<header class="faq-header biblioteca-header">
			<h2>Su busqueda sobre <strong>{{buscar_palabra}}</strong></h2>
		</header>

	</section>
	<section class="contenido-temas">
			<h2>Se ha obtenido los siguientes resultados</h2>
			<div class="row faq">
				{% for guia in resultado %}
					<div class="cols-xs-12 col-sm-6">
						<div class="panel-group" id="accordion">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title tema">
										<a href="{% url 'detalle-guia' guia.slug %}"><span class="fa fa-angle-double-right"></span>{{guia.titulo}}</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
</div>
{% endblock contenido %}
