body {
    background-color: #F1F2F2;
}
.mapa-violencia{
  margin-top:50px;
  margin-bottom:50px;
  background: white;
  padding:20px;
}
.mapa-violencia .panel-body{
	padding: 0px;
}
.mapa-violencia .panel-title > a{
	padding: 0px;
}
.mapa-violencia .panel-title .list-group-item{
	background-color: #A10C12;
	color: white;
	padding: 18px 15px;

}

.mapa-violencia .panel-default>.panel-heading .badge{
	width: 30px;
    height: 30px;
    border-radius: 50px;
    padding-top: 8px;
}
/*

.mapa-violencia .panel-default>.panel-heading .badge{
	width: 45px;
    height: 30px;
    border-radius: 50px;
    padding-top: 8px;
}

*/
.mapa-violencia .panel-collapse {
	border:0px;
}
.mapa-violencia .list-group-item:last-child{
	border-radius: 0px;
}

.mapa-violencia .panel-body .list-group{
    margin-bottom: 0px; 
}
.titulo-violencia h4{
	font-size: 32px;
    font-weight: 300;
    text-align: center;
}
.titulo-violencia h5{
	font-size: 32px;
    font-weight: 300;
    color: white;
    margin-bottom: 10px !important;
}
.parrafo-violencia p{
    text-align: justify;
    margin-bottom: 20px;
}
.mapa-violencia .panel-body .list-group-item{
	color: black;
}
.mapa-violencia .panel-body .list-group-item .badge{
	width: 30px;
    height: 30px;
    border-radius: 50px;
    padding-top: 8px;
}
.mapa-violencia .btn{
	font-size: 14px;
	margin-bottom: 20px;
}
.consulta-violencia{
	background-color: white;
	margin-top:50px;
 	margin-bottom:50px;
	padding:38px;

}

.consulta-violencia form label {
	display: block;
    font-family: 'latoblack', sans-serif;
    font-size: 14px;
    color: #727272 !important;
}

.space-act{
	margin-bottom: 2em;
}
.borde {
    border-bottom: 3px solid #cacaca;
    padding-bottom: 20px;
    text-align: left !important;
}
.br-violencia{
	margin-top: 1.8em;
	font-size: 14px;
}

.consulta-violencia .multiselect-container{
	width: 100%;
}

.space-act .dropdown-toggle{
	border-color: #cacaca;
	color: #727272;
	font-size: 14px;
}

.space-act .dropdown-toggle:hover,.space-act .dropdown-toggle:focus{
	background-color: #cacaca;
	border-color: #cacaca;
}
.space-act .dropdown-menu > .active > a{
	background-image: #A10C12;
	background-image: linear-gradient(to bottom, #A10C12 0%, #A10C12 100%);
	
}
.space-act .dropdown-menu > .active > a>label{
	color:white !important;
}


#filtros {
	margin: 50px 0 50px 0;
	background: #A10C12;
	padding: 7px 20px;
}
#filtros .breadcrumb li a, #filtros .breadcrumb li {
    color: white !important;
}

.breadcrumb>li+li:before {
  color: rgba(15, 8, 8, 1);
  content: "\276F\00a0";
}
.borde-superior{
	border-top: 3px solid white;
	padding-top: 20px;
	padding-bottom: 20px;
}


.nav-act>li.active>a, 
.nav-act>li.active>a:hover, 
.nav-act>li.active>a:focus{
	background-color: white;
	color: black !important;
	border-top: 5px solid #3E9B04;


}
.nav-act>li.active,
.nav-act>li.active:hover,
.nav-act>li.active:focus{
	background: white;

}

.nav-act>li>a, 
.nav-act>li>a:hover, 
.nav-act>li>a:focus{
	background-color: #3E9B04;
	color: white ;
	border-bottom: 5px solid #3E9B04;
	border-right: transparent;
	border-left: transparent;
	font-size: 14px;

}

.nav-act>li, 
.nav-act>li:hover, 
.nav-act>li:focus{
	background-color: #3E9B04;
	color: black;

}
.indicadores-violencia .panel-title{
	background-color: #4E4E4E;
	color: white;
	font-size: 14px;
	font-weight: bold;

}
.tab-contenido{
	padding: 38px 38px 20px;
}
.indicadores-violencia  .fa-navicon:before, .fa-reorder:before, .fa-bars:before{
	margin-right: 10px;
}
.dash-violencia{
	background-color: white;

	margin-bottom: 50px;
}

.dash-violencia .panel-group{
	margin-bottom: 0px;
}

.graficos{
	margin-bottom: 20px;
}
.grafico-pie,.graficos-bar{
	border:2px solid #cacaca;

}
.nav-act>li.tab-titulo>a, .nav-act>li.tab-titulo>a:hover, .nav-act>li.tab-titulo>a:focus
{
	background-color: #486D31;
	border-bottom: 5px solid #486D31;
	font-weight: bold;
}

.t-encuesta{
	background-color: #fff;
	margin-bottom: 0px;

}

.bordes-1{
	border-left: 3px solid #cacaca;

}

.t-encuesta>thead>tr>th, .t-encuesta>tbody>tr>th, .t-encuesta>tfoot>tr>th, .t-encuesta>thead>tr>td, .t-encuesta>tbody>tr>td, .t-encuesta>tfoot>tr>td{
	border: 2px solid #cacaca;
}



@media (min-width: 593px) and (max-width:767px)  {
	.graficos{
    max-width: 100% !important;
    overflow-x: scroll !important;
}

}

@media (max-width: 593px)  {
	
	.brand img {

	  width: 20%;
	  margin-top: 3px;
	  background-color: transparent !important;

	}
	.logo-act{
		width:50%;
	}
	.graficos{
    max-width: 100% !important;
    overflow-x: scroll !important;
	}


}


.nav-violencia{
	padding-right: 0px;
}


.nav-violencia li>a{
	text-align: center;
}
.tab-graficos{
	padding:0px;
}
.nav-indicadores li{
	padding-right: 0px;
	padding-left: 0px;
}

.contenido-graficos{
	background: white;
}

.nav-violencia>li>a, 
.nav-violencia>li>a:hover, 
.nav-violencia>li>a:focus{
	background-color: #3E9B04;
	color: white ;
	border-right: transparent;
	border-left: transparent;
	font-size: 14px;
	border-bottom: 4px solid #3E9B04;

}

.nav-violencia>li, 
.nav-violencia>li:hover, 
.nav-violencia>li:focus{
	background-color: #3E9B04;
	color: black;


}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	border-color:#3E9B04;
}

.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}
.conteo-encuestas{
	padding: 0px
}
.tab-index li > a:hover{
	background:transparent;
}
.tab-index li > a{
	color:#727272;
	font-weight: bold;
}
.tab-index li.dropdown{
	border-bottom: 3px solid #d1d1d1;
	margin-bottom: 5px;
}
.tab-index .dropdown-toggle{
	padding:0px;
}