{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title></title>
		
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700%7CPlayfair+Display:400,700italic%7CRoboto:300%7CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
		<!-- Bootstrap -->
		<link href="{% static 'cambiaahora/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'cambiaahora/css/bootstrap-theme.css' %}" rel="stylesheet">
		<link href="{% static 'cambiaahora/css/font-awesome.min.css' %}" rel="stylesheet">

		<link href="{% static 'cambiaahora/css/global.css' %}" rel="stylesheet">
		<link href="{% static 'panel/css/style.css' %}" rel="stylesheet">
		<link href="{% static 'cambiaahora/css/responsive.css' %}" rel="stylesheet">
		<!-- Font -->
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

        <script src="{% static 'cambiaahora/js/jquery.min.js' %}"></script>
	
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<script src="{% static 'panel/js/modernizr.custom.js' %}"></script>

	</head>
	<body>
    
				<!--Header Section Start Here -->
			

			<header  id="header">
				<div class="container">
					<div class="row primary-header">		
				
							<a href="/" class="col-xs-6 col-sm-2 brand" title="Welcome to Cambia Ahora"><img src="{% static 'cambiaahora/img/es.png' %}"  alt="Cambia Ahora"></a>	


						<div class="social-links col-xs-6 col-sm-10">
							<a href="/lang/en" class=" btn btn-default btn-idioma">
									<img src="{% static 'cambiaahora/img/eeuu.jpg' %}" alt=""> ENGLISH
							</a>
							<a href="/lang/es" class=" btn btn-default btn-idioma">
									<img src="{% static 'cambiaahora/img/spanish.jpg' %}" alt=""> SPANISH
							</a>
							<ul class="social-icons hidden-xs">
								<li>
									<a href="https://www.facebook.com/pages/Cambia-ahora-solo-hazlo/1485321515024959?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="https://twitter.com/Cambia_ahora" target="_blank"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="https://www.youtube.com/channel/UCcpJBeBNFxDip-Avh25xIEw"><i class="fa fa-youtube"></i></a>
								</li>


							</ul>
						</div>
					</div>
				</div>


			</header>
			<!-- Header Section End Here -->
			<div class="main-panel">
				<ul id="og-grid" class="og-grid">
					<li>
						<a href="/" data-largesrc="{% static 'panel/img/1.jpg' %}" data-title="Sitio web Cambia Ahora" data-description="El sitio 'Cambia ahora, solo hazlo' publica los avances de la campaña sobre la prevención de la violencia juvenil y el abuso de drogas en ocho municipios de la RACS, RACN y Managua donde se promueve la campaña. La plataforma esta en inglés y español.">
							<h5>Sitio Web</h5>
							<img class="center-block" src="{% static 'panel/img/thumbs/web.png' %}" alt="Cambia Ahora Sitio Web"/>
						</a>
					</li>
					<li>
						<a href="/actividades" data-largesrc="{% static 'panel/img/2.jpg' %}" data-title="Actividades." data-description="Se registra las actividades planificadas y realizadas y el rol de las ciudadanas, ciudadanos y organizaciones locales en los territorio donde se lleva acabo la 'Cambia ahora, solo hazlo'">
							<h5>Actividades</h5>
							<img class="center-block" src="{% static 'panel/img/thumbs/actividades.png' %}" alt="Cambia Ahora Sitio Web"/>
						</a>
					</li>
					<li>
						<a href="" data-largesrc="{% static 'panel/img/3.jpg' %}" data-title="Mapeo de actores." data-description="Muestra los actores que participan de las actividades de la campaña 'Cambia ahora, solo hazlo' en los territorios y sus acciones para prevención de violencia juvenil y abuso de drogas.">
							<h5>Mapeo Actores</h5>
							<img class="center-block" src="{% static 'panel/img/thumbs/mapeo.png' %}" alt="Cambia Ahora Sitio Web"/>
						</a>
					</li>
					<li>
						<a href="" data-largesrc="{% static 'panel/img/4.jpg' %}" data-title="Bibilioteca." data-description="Podrás acceder a los recursos comunicacionales que la campaña 'Cambia ahora, solo hazlo' ha generado: documentos, audios, vídeos, cartillas, material didáctico y sirva para masificar los mensajes y acciones en las comunidades.">
							<h5>Biblioteca</h5>
							<img class="center-block" src="{% static 'panel/img/thumbs/biblioteca.png' %}" alt="Cambia Ahora Sitio Web"/>
						</a>
					</li>
					<li>
						<a href="" data-largesrc="{% static 'panel/img/5.jpg' %}" data-title="Monitoreo sobre violencia." data-description="Accede a los datos levantados por encuesta a la población sobre sus concoimientos, actitudes, prácticas y percepción sobre la violencia juvenil y abuso de drogas en los municipios de la RACS, RACN y Managua.">
							<h5>Encuesta CAPS</h5>
							<img class="center-block" src="{% static 'panel/img/thumbs/encuesta.png' %}" alt="Cambia Ahora Sitio Web"/>
						</a>
					</li>
					<li>
						<a href="" data-largesrc="{% static 'panel/img/6.jpg' %}" data-title="Tablero de indicadores." data-description="Se presentan los indicadores de resultados sobre el avance de la campaña 'Cambia ahora, solo hazlo', en los municipios de la RACS, RACN y Managua, mediante una propuesta gráfica y estadística." >
							<h5>Dashboard</h5>
							<img class="center-block" src="{% static 'panel/img/thumbs/dashboard.png' %}" alt="Cambia Ahora Sitio Web"/>
						</a>
					</li>
					<li>
						<a href="" data-largesrc="{% static 'panel/img/7.jpg' %}" data-title="Apps móviles." data-description="Podrás acceder desde tu dispostivo smartphone o tablet a los test sobre violencia, publicaciones, vídeo y compartirlos en las redes sociales.">
							<h5>Apps Android</h5>
							<img class="center-block" src="{% static 'panel/img/thumbs/android.png' %}" alt="Cambia Ahora Sitio Web"/>
						</a>
					</li>
				</ul>

			</div>

	<!--Footer Section Start Here -->

		<script src="{% static 'cambiaahora/js/bootstrap.min.js' %}"></script>
		
		<script src="{% static 'panel/js/grid.js' %}"></script>
		<script>
			$(function() {
				Grid.init();
			});
			
		</script>

	</body>
</html>