{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>::Monitoreo::</title>
		
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700%7CPlayfair+Display:400,700italic%7CRoboto:300%7CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
		<!-- Bootstrap -->
		<link href="{% static 'cambiaahora/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'cambiaahora/css/bootstrap-theme.css' %}" rel="stylesheet">
		

		<link href="{% static 'cambiaahora/css/global.css' %}" rel="stylesheet">
		<link href="{% static 'panel/css/style.css' %}" rel="stylesheet">
		<link href="{% static 'cambiaahora/css/responsive.css' %}" rel="stylesheet">
		<!-- Font -->
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="{% static 'cambiaahora/js/jquery.min.js' %}"></script>
	
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<script src="{% static 'panel/js/modernizr.custom.js' %}"></script>

	</head>
	<body>
    
				<!--Header Section Start Here -->
			

			<header  id="header">
				<div class="container">
					<div class="row primary-header">		
				
							<a href="/" class="col-xs-6 col-sm-2 brand" title="Welcome to Cambia Ahora"><img src="{% static 'cambiaahora/img/es.png' %}"  alt="Cambia Ahora"></a>	


						<div class="social-links col-xs-6 col-sm-10">

							<ul class="social-icons hidden-xs">
								<li>
									<a href="https://www.facebook.com/pages/Cambia-ahora-solo-hazlo/1485321515024959?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="https://twitter.com/Cambia_ahora" target="_blank"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="https://www.youtube.com/channel/UCcpJBeBNFxDip-Avh25xIEw"><i class="fa fa-youtube"></i></a>
								</li>


							</ul>
						</div>
					</div>
				</div>
								<div class="navbar navbar-default" role="navigation">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<nav>

							</nav>

						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</div>

			</header>
			<!-- Header Section End Here -->
			<div class="main-panel">
				<ul id="og-grid" class="og-grid">
					<li>
						<a href="/" data-largesrc="{% static 'panel/img/1.jpg' %}" data-title="Sitio web Cambia Ahora" data-description="La página web presenta las últimas noticias, los documentales, serie radiofónicas, opiniones de los actores claves de la Campaña: Cambia ahora, solo hazlo.">
						<div class="circulo">
							<img class="center-block" src="{% static 'panel/img/thumbs/web.png' %}" alt="Cambia Ahora Sitio Web"/>
						</div>
						<h5><span class="verde">Web: Cambia </span><span class="rojo">Ahora</span></h5>
						
						
						</a>
					</li>
					<li>
						<a href="/actividades" data-largesrc="{% static 'panel/img/2.png' %}" data-title="Registro de actividades" data-description="En este componente hallarás los reportes cuantitativos y cualitativos de cada actividad realizada donde tiene acciones el Proyecto.">
							<div class="circulo">
								<img class="center-block" src="{% static 'panel/img/thumbs/actividades.png' %}" alt="Cambia Ahora Sitio Web"/>
							</div>
							<h5><span class="verde">Registro de </span><span class="rojo">actividades</span></h5>
							
						</a>
					</li>
					<li>
						<a href="/mapeo" data-largesrc="{% static 'panel/img/3.png' %}" data-title="Mapeo de actores" data-description="Aquí encontrarás información de las organizaciones aliadas del proyecto, datos de los comités comunales, sus acciones y las personas que los conforman, participantes y acciones de los estudiantes de los Diplomados en promotoría y comunicación comunitaria.">
					
							<div class="circulo">
								<img class="center-block" src="{% static 'panel/img/thumbs/mapeo.png' %}" alt="Cambia Ahora Sitio Web"/>
							</div>
							<h5><span class="verde">Mapeo de </span><span class="rojo">actores</span></h5>
							
						</a>
					</li>
					<!--
					<li>
						<a href="/biblioteca" data-largesrc="{% static 'panel/img/4.jpg' %}" data-title="Bibilioteca." data-description="Podrás acceder a los recursos comunicacionales que la campaña 'Cambia ahora, solo hazlo' ha generado: documentos, audios, vídeos, cartillas, material didáctico y sirva para masificar los mensajes y acciones en las comunidades.">

							<div class="circulo">
								<img class="center-block" src="{% static 'panel/img/thumbs/biblioteca.png' %}" alt="Cambia Ahora Sitio Web"/>
							</div>
							<h5><span class="verde">Biblioteca</span></h5>
							
						</a>
					</li>
					-->
					<li>
						<a href="/encuesta_cap" data-largesrc="{% static 'panel/img/5.png' %}" data-title="Monitoreo sobre violencia." data-description="Aquí encontrarás los resultados de la encuesta sobre conocimientos, actitudes y prácticas sobre la violencia y abuso de droga en las localidades donde tiene acciones la campaña: Cambia ahora solo hazlo.">

							<div class="circulo">
								<img class="center-block" src="{% static 'panel/img/thumbs/encuesta.png' %}" alt="Cambia Ahora Sitio Web"/>
							</div>
							<h5><span class="verde">Encuesta </span><span class="rojo">CAP</span></h5>
							
						</a>
					</li>
					<!--
					<li>
						<a href="/tablero_indicadores" data-largesrc="{% static 'panel/img/6.jpg' %}" data-title="Tablero de indicadores." data-description="En este componente se muestra el avance y logros en la generación y cumplimiento de los procesos, productos o indicadores del proyecto." >
							
							<div class="circulo">
								<img class="center-block" src="{% static 'panel/img/thumbs/dashboard.png' %}" alt="Cambia Ahora Sitio Web"/>
							</div>
							<h5><span class="verde">Dashboard</span></h5>
							
						</a>
					</li>-->
					<li>
						<a href="/aplicaciones_moviles" data-largesrc="{% static 'panel/img/7.jpg' %}" data-title="Apps móviles." data-description="En este componente hallarás juegos e informaciones dinámicas como: App  para buscar ayuda,  App de test de violencia y noviazgo, App violentómetro y otros juegos.">
							
							<div class="circulo">
								<img class="center-block" src="{% static 'panel/img/thumbs/android.png' %}" alt="Cambia Ahora Sitio Web"/>
							</div>
							<h5><span class="verde">Juegos y </span><span class="rojo">aplicaciones</span></h5>
							
						</a>
					</li>
				</ul>

			</div>

	<!--Footer Section Start Here -->
 <!-- FOOTER -->
        <footer>
        	<div class="container">
            	<div class="row">
                	
                	<div class="col-md-3 col-lg-3">
                        <h3 class="uppercase">FADCANIC</h3>
                        <img src="/static/cambiaahora/img/logo-fadcanic.png" class="logo-fadcanic" alt="">
                        <br>
                        <p>Fundación para la Autonomía y el Desarrollo de la Costa Atlántica (FADCANIC) Bluefields, RACCS, Bilwi, RACN Managua.</p>
                        <div class="social">
                        	<a href="https://www.facebook.com/pages/Cambia-ahora-solo-hazlo/1485321515024959?fref=ts">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>


                            <a href="https://twitter.com/Cambia_ahora">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            
                          
                            
                            <a href="https://www.youtube.com/channel/UCcpJBeBNFxDip-Avh25xIEw">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                    	</div>
                    </div>
                    
                    <div class="col-md-3 col-lg-3">
                    	<h3 class="uppercase">{# {% trans 'Contactos' %} #}Contactos</h3>
                        

                        
                        <div class="address">
                        	<div class="icon">
                            	<i class="fa fa-lg fa-phone"></i>
                            </div>
                            <p>Managua: (505) 2270 0536 <br> (505) 2270 1921</p>
                        </div>
                        <div class="address">
                            <div class="icon">
                                <i class="fa fa-lg fa-phone"></i>
                            </div>
                            <p>Puerto Cabezas: (505) 27922203</p>
                        </div>
                        <div class="address">
                            <div class="icon">
                                <i class="fa fa-lg fa-phone"></i>
                            </div>
                            <p>Bluefields: (505) 2572 2386</p>
                        </div>
                        <div class="address">
                            <div class="icon">
                                <i class="fa fa-lg fa-fax"></i>
                            </div>
                            <p>Fax: (505) 2270 1921</p>
                        </div>
                        
                        
                        <div class="address">
                        	<div class="icon">
                            	<i class="fa fa-lg fa-envelope"></i>
                            </div>
                            
                            <p>changenowlestsdoit@gmail.com</p>

                        </div>
                        <div class="address">
                            <div class="icon">
                                <i class="fa fa-lg fa-envelope"></i>
                            </div>

                            <p>director@fadcanic.org.ni</p>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-6 logo-eeuu">
                    <h3 class="uppercase">{# {% trans "Auspiciado por" %} #}Auspiciado por</h3>
                        <div class="col-md-6 col-lg-6">
                            <img src="/static/cambiaahora/img/ac2.png" alt="">
                        </div>
                    	<div class="col-md-6 col-lg-6">
                        <p>{# {% trans 'Departamento de Estado de los Estados Unidos' %} #}Departamento de Estado de los Estados Unidos
                        International Narcotics and Law Enforcement Affairs U.S. Embassy.
                        <br>Managua, Nicaragua</p>
                        <br>

                            <div class="address">
                                <div class="icon">
                                    <i class="fa fa-lg fa-phone"></i>
                                </div>
                                <p> (505) 2252-7100</p>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
        </footer>
     <!-- SUBFOOTER -->
        <div class="subfooter">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-12">
                    	<p> © Copyright 2015. {# {% trans  'Desarrollado por' %} #}Desarrollado por <a href="http://www.simas.org.ni" target="_blank">SIMAS</a>
                                    </p>
                    
                    </div>
                </div>
            </div>
        </div>
	<!--Footer Section End Here -->
		<script src="{% static 'cambiaahora/js/bootstrap.min.js' %}"></script>
		
		<script src="{% static 'panel/js/grid.js' %}"></script>
		<script>
			$(function() {
				Grid.init();
			});
			
		</script>

	</body>
</html>