{% extends "actividades/base.html" %}
{% load tools %}
{% load clippy %}

{% load staticfiles	%}

{% block title %}
{{var2.1|unslugify}} por {{main_field|unslugify}}
{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="{% static 'actividades/css/tipsy.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'actividades/css/tabs.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'actividades/css/buttons.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'actividades/css/formee/css/form-structure.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'actividades/css/formee/css/form-style.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'actividades/fb/jquery.fancybox.css' %}" type="text/css" media="screen" />
<style>
.banner-filtros{	
	height: 60px;
	margin-top: -5px;
	border-top: 6px #fff solid;	
}
.nav-tabs > li > a {
  color: black !important;
}

.dinamictable {
    margin: 0 0 3em 0;
}
</style>
{% endblock %}

{% block extra_js %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="{% static 'actividades/js/table.exporting.js' %}"></script>
<script type="text/javascript" src="{% static 'actividades/js/exporting_patched.js' %}"></script>
<script type='text/javascript' src="{% static 'actividades/js/jquery.tipsy.js' %}"></script>
<script type='text/javascript' src="{% static 'actividades/js/tabs.js' %}"></script>
<script type='text/javascript' src="{% static 'actividades/js/underscore-min.js' %}"></script>

<script type="text/javascript" src="{% static 'actividades/fb/jquery.easing-1.3.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'actividades/fb/jquery.mousewheel-3.0.6.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'actividades/fb/jquery.fancybox.js' %}"></script>
<script type="text/javascript" src="{% static 'actividades/fb/jquery.fancybox.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'actividades/js/jquery.form.js' %}"></script>

<script type="text/javascript">
    
   function _pieChartData(chart){
    return escape(JSON.stringify({
      'title'   : chart.options.title.text,
      'series'  : chart.options.series
    }))
  }
  var _bar_chart;
  $(document).ready(function(){
    var csrf_token =  $.cookie('csrftoken'); 
    var html_table = $('#result_table').html();
    {% if not noshare %}
    $('#share').click(function(){
      // mandar a guardar la salida
      {% if request.session.bar_graph or bar_graph %}
      _bar_chart = {
          'xAxis'  : bar_chart.xAxis[0].categories,
          'yAxis'  : bar_chart.yAxis[0].axisTitle.textStr,
          'series' : bar_chart.options.series,
          'title'  : bar_chart.options.title.text
      }
      {% endif %}
      $.post('.', {
        'url'                : 1, 
        'csrfmiddlewaretoken': csrf_token, 
        'html_table'         : escape(html_table),
        {% if request.session.bar_graph or bar_graph %}
        'bar_chart'          : escape(JSON.stringify(_bar_chart)),
        {% endif %}
        {% if request.session.pie_graph or pie_graph %}
        'pie_chart_one'      : _pieChartData(pie1_chart),
        'pie_chart_two'      : _pieChartData(pie2_chart)
        {% endif %}
        }, // cierra params
        function(data){
            $('#clippy_117').html(data);
            $('#copiador').show();        
        });
      return false;
    });
    $('#guardarfile').click(function(){ 
      {% if request.session.bar_graph or bar_graph %}
      _bar_chart = {
          'xAxis'  : bar_chart.xAxis[0].categories,
          'yAxis'  : bar_chart.yAxis[0].axisTitle.textStr,
          'series' : bar_chart.options.series,
          'title'  : bar_chart.options.title.text
      }
      {% endif %}
      
      $(this).hide();     
      var coment = $('#id_comentario').val();     
      {% if request.session.bar_graph or bar_graph %}
      var svg = bar_chart.getSVG();
      {% endif %}
      {% if request.session.pie_graph or pie_graph %}
      var svg_pie1 = pie1_chart.getSVG();
      var svg_pie2 = pie2_chart.getSVG();
      {% endif %}     

      var csrf_token =  $.cookie('csrftoken');
      $.fancybox.showLoading();
      $.post('.', {
        'url'                 : 1,
        'save'                : 1,
        'comment'             : coment, 
        'html_table'          : escape(html_table),
        {% if request.session.bar_graph or bar_graph %}
        'bar_svg'             : svg,
        'bar_chart'           : escape(JSON.stringify(_bar_chart)),
        {% endif %}
        {% if request.session.pie_graph or pie_graph %}
        'pie1_svg'            : svg_pie1,
        'pie2_svg'            : svg_pie2,
        'pie_chart_one'       : _pieChartData(pie1_chart),
        'pie_chart_two'       : _pieChartData(pie2_chart),
        {% endif %}   
        'csrfmiddlewaretoken' : csrf_token
        },
        function(data){
          $('#clippy_117').html(data);
          $('#copiador').show();
          alert('Guardado con exito! :D');
          $('#guardarfile').show();
          $.fancybox.close();         
          });     
      return false;
    });
      
    $("#sharesave").fancybox({
      maxWidth  : 800,
      maxHeight : 600,
      fitToView : true,
      width   : '50%',
      height    : '45%',
      autoSize  : false,
      closeClick  : false,
      openEffect  : 'elastic',
      closeEffect : 'fade'
    });
    $("#generatefile").fancybox({
      maxWidth  : 800,
      maxHeight : 600,
      fitToView : true,
      width   : '70%',
      height    : '80%',
      autoSize  : false,
      closeClick  : false,
      openEffect  : 'elastic',
      closeEffect : 'fade',
      beforeLoad  : function(){
        $('#reportbodytable').html('');
        $.getJSON('/actividades/ajax/salidas/', function(data){
          $.each(data, function(i, item){
            var $tr = $('<tr></tr>');     
            var _td = '<td></td>';
            $tr.append($(_td)
                .html($('<input />')
                .addClass('salida')
                .attr({'type': 'checkbox', 'id': 'id_'+item.id, 'name': ''+item.id})));           
            $tr.append($(_td)
                .html($('<a></a>')
                .attr({'href': '{{sitio.domain}}/i/'+item.hash, 'target': '_blank'})
                .html('{{sitio.domain}}/i/'+item.hash)));
            $tr.append($(_td).html(item.date));
            $tr.append($(_td).html(item.comment));            
            $tr.appendTo($('#reportbodytable'));
          });
        });
      }
    });
    {% else %}
    $('span.activa').each(function(item){
      $(this).removeAttr('onclick');
    });
    {% endif %}   
  }); 

    $(function() {
       $('.clippy-tooltip').tipsy({fade: true, gravity: 'w'});
       $('.tabs').tabs();      
       $('#id_todos').click(function(){
           var state = $(this).attr('checked');
           if(state){
               $('input.salida').each(function(i, item){               
                   $(this).attr('checked', true); 
               });   
           }else{
               $('input.salida').each(function(i, item){               
                   $(this).attr('checked', false); 
               });
           }           
       });
       $('#generate_report').click(function(){
           var ids = new Array();
           $("input.salida:checked").each(function(){              
               ids.push($(this).attr('name'));             
           });
           var csrf_token =  $.cookie('csrftoken');
           var form = $('<form>').attr({
               type: 'hidden',
               method: 'POST',
               action: '/actividades/report/',
               id: 'formreport'
           }).appendTo('body');
            
           $('<input>').attr({type: 'hidden', name: 'ids',  value: ids}).appendTo(form);
           $('<input>').attr({type: 'hidden', name: 'csrfmiddlewaretoken',  value: csrf_token}).appendTo(form);
                
           $(form).submit();           
           return false;
       });
       $('#delete_report').click(function(){
           var ids = new Array();
           $("input.salida:checked").each(function(){              
               ids.push($(this).attr('name'));             
           });
           $.get('/actividades/report/?ids='+ids+'&e=ok', function(data){              
               alert(data);
               $.fancybox.close();
               window.location.reload();
           });
       });
    });
</script>


<script>
  (function($){
      $('.result_table').addClass('table');
  })(jQuery || django.jQuery);
</script>

<!-- ********************************* load table js****************************************** -->
{% if not borde %}

<script type="text/javascript">
function loadCell(key, key2){
  var detalle = $('input:radio[name=contenido_detalle]:checked').val();
  if(detalle){
    $.getJSON('?k='+key+'&k2='+key2+'&data='+detalle, function(data){
      if(data){$('#contenido_de').html('');}
      _.each(data, function(obj){     
        var actividad = "<div class='actividad'><div class='data'>\
        <span>"+obj.org+' - '+obj.nombre_actividad+"</span><span class='lugar'><b>"+obj.comunidad__nombre+", "+obj.municipio__nombre+"</b></span>\
        <span class='fecha'><b>"+obj.fecha+"</b></span></div><div class='media'>";
        
        if(detalle=='multimedia'){
          if(obj.foto1_thumb!=''){actividad+="<a class='fancybox' rel='group' href='"+obj.foto1_pic+"'><img src='"+obj.foto1_thumb+"' alt='"+obj.nombre_actividad+"'></a>";}
          if(obj.foto2_thumb!=''){actividad+="<a class='fancybox' rel='group' href='"+obj.foto2_pic+"'><img src='"+obj.foto2_thumb+"' alt='"+obj.nombre_actividad+"'></a>";}
          if(obj.foto3_thumb!=''){actividad+="<a class='fancybox' rel='group' href='"+obj.foto3_pic+"'><img src='"+obj.foto3_thumb+"' alt='"+obj.nombre_actividad+"'></a>";}
          if(obj.vthumb!=''){actividad+="<a class='yvideo fancybox.iframe' href='"+obj.video+"'>"+obj.vthumb+"</a>";}
        }else{
          actividad+="<div class='data' style='font-size: 12px;'><b>Comentarios: </b>"+obj.comentarios;
          actividad+="<br><b>Acuerdos: </b>"+obj.acuerdos+"</div>";
        }       
        
        actividad+="</div><div class='clean'></div>";     
        $(actividad).appendTo($('#contenido_de'));
        
        //activar tab adecuada
        $.fn.tabs.foo($('a[href="#detalle"]').parent(), $('a[href="#detalle"]').parent().parent());
        $.fn.tabs.foo($('#detalle'), $('#detalle').parent());     
      });
    }); 
  }else{
    alert('Selecciona el tipo de detalles.');
  } 
}
</script>
<script type="text/javascript">
  $(function() {
    $("a[rel=group]").fancybox({      
      'titlePosition'   : 'over',   
    });
    $(".yvideo").fancybox({
      maxWidth  : 800,
      maxHeight : 600,
      fitToView : false,
      width   : 644,
      height    : 368,
      autoSize  : false,
      closeClick  : false,
      openEffect  : 'none',
      closeEffect : 'none'
    });
  });
</script>
{% endif %}


{% endblock extra_js %}

{% block contenido %}
{% include "actividades/filtros_selectos.html" %}

<div class="col-md-12">
	<h4 id="text_theme" align="center">{{var2.1|unslugify}} por {{main_field|unslugify}} {% if eval_tipo %}| {{eval_tipo}}{% endif %}</h4>
</div>

<div class="col-md-12 space">
  <a class="btn btn-success" href="/actividades/" role="button">Ir a Inicio</a>
	<a class="btn btn-default guardarXLS" href="#" role="button" onclick="exportarXLS('result_table'); return false;">Exportar</a>
	{% if not noshare %}
		<!--<a class="btn btn-default" href="#inline" id="sharesave" role="button" data-toggle="modal" data-target="#myModal">Guardar para informe</a>
		<a class="btn btn-default" href="#file" id="generatefile" role="button" data-toggle="modal" data-target="#myModal2">Generar informe</a>
		<a class="btn btn-default" href="#" id="share" role="button">Compartir</a>-->

      <a href="#inline" id="sharesave" class="btn btn-default">Guardar para informe</a>
      <a href="#file" id="generatefile" class="btn btn-default">Generar informe</a>
      <a href="#" id="share" class="btn btn-default">Compartir</a>
		<div id="copiador" style="display: none;">
			<span id="clippy_117"></span>{% clippy "clippy_117" "14x14" "#FFFFFF" "opaque" %}
		</div>
	{% endif %}
</div>


<div class="dinamictable">
		{% load_table dicc opts2 var2 main_field total tipo %}
	</div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
  {% if not noshare %}
    <li role="presentation" class="active"><a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">Detalle</a></li>
    {% endif %}

    {% if request.session.bar_graph or bar_graph %}
    <li role="presentation"><a href="#bar" aria-controls="bar" role="tab" data-toggle="tab">Gráfico de barra</a></li>
    {% endif %}

    {% if request.session.pie_graph or pie_graph %}
    <li role="presentation"><a href="#pie" aria-controls="pie" role="tab" data-toggle="tab">Gráfico de pastel</a></li>
    {% endif %}	
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
  {% if not noshare %}
    <div role="tabpanel" class="tab-pane " id="detail">
    	<label for="id_multimedia">
			<input value="multimedia" type="radio" name="contenido_detalle" id="id_contenido" checked="checked"/>Multimedia</label>
			<label for="id_comentarios">
			<input value="comentarios" type="radio" name="contenido_detalle" id="id_contenido" />Comentarios</label>
    </div>
	{% endif %}	

	{% if request.session.bar_graph or bar_graph %}
    <div role="tabpanel" class="tab-pane" id="bar">
    	{% bar_graph dicc var2 main_field tipo %}
    </div>
    {% endif %}	

	{% if request.session.pie_graph or pie_graph %}
    <div role="tabpanel" class="tab-pane" id="pie">
    	{% pie_graph dicc var2 main_field tipo %}
    </div>
    {% endif %}	
 
  </div>

<!-- Modal -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Comentario:</h4>
      </div>
      <div class="modal-body">
        <div id="inline">
		<form method="POST" action="." class="form">{% csrf_token %}
			<textarea rows="5" cols="50" name="comentario" id="id_comentario"></textarea><br><br>
			<input type="submit" id="guardarfile" value="Guardar" title="Guardar">
		</form>
	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div> -->

<!-- Modal -->
<!-- <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Generar reporte</h4>
      </div>
      <div class="modal-body">				
		<table class="result_table reporte_tabla" width="100%">
			<thead>
				<tr>
					<th><input id="id_todos" type="checkbox" name="todos" title="Marcar todos"></th>
					<th>Dirección</th>
					<th>Fecha</th>
					<th>Comentario</th>										
				</tr>
			</thead>
			<tbody id="reportbodytable">				
			</tbody>
		</table><br>
		<input type="submit" id="generate_report" value="Generar Reporte" title="Generar Reporte" class="optionsbutton">		
		<input type="submit" id="delete_report" value="Eliminar" title="Eliminar" class="optionsbutton">


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>
 -->

<div style="display: none;">
  <div id="inline">
    <form method="POST" action="." class="form">{% csrf_token %}
      <label>Comentario: </label>
      <textarea rows="5" cols="50" name="comentario" id="id_comentario"></textarea><br><br>
      <input type="submit" id="guardarfile" value="Guardar" title="Guardar">
    </form>
  </div>
  <div id="file">
    <div class="banner banner-filtros en_inline">
      <center class="banner_title">Generar reporte</center> 
    </div>        
    <table class="result_table reporte_tabla" width="100%">
      <thead>
        <tr>
          <th><input id="id_todos" type="checkbox" name="todos" title="Marcar todos"></th>
          <th>Dirección</th>
          <th>Fecha</th>
          <th>Comentario</th>                   
        </tr>
      </thead>
      <tbody id="reportbodytable">        
      </tbody>
    </table><br>
    <input type="submit" id="generate_report" value="Generar Reporte" title="Generar Reporte" class="optionsbutton">    
    <input type="submit" id="delete_report" value="Eliminar" title="Eliminar" class="optionsbutton">
  </div>
</div>

{% endblock %}