{% extends "actividades/base.html" %}
{% load staticfiles %}

{% block title %}{{request.session.filtro.salida}}{% endblock %}

{% block extra_head %}
<style>
	.banner-filtros{	
		height: 60px;
		margin-top: -5px;
		border-top: 6px #fff solid;	
	}

	ul, label {
		list-style: none;
		font-size: 16px
	}

	p {
		padding:10px;
		font-size: 16px;
	}
	
	.nav-tabs > li > a {
	  color: black !important;
	}
</style>
<script type="text/javascript" src="{% static 'actividades/js/underscore-min.js' %}"></script>
<link href="{% static 'actividades/css/form.css' %}" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{% static 'actividades/js/jquery.easing.1.3.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'actividades/js/jquery.ibutton.min.js' %}"></script>
<link href="{% static 'actividades/css/jquery.ibutton.min.css' %}" rel="stylesheet" type="text/css"/>

<script type="text/javascript">
	$(document).ready(function(){		
		var elems = $('.unique');		
		$('.unique').click(function(){			
			_.each(elems, function(num){ 
				$(num).iButton("toggle", false);
				$(num).attr('checked', false);				
			});
			$(this).attr('checked', true);
			$(this).iButton("toggle", true);
		});	
		$('.recursos').attr("disabled", true);
	});	
	$(window).load(function(){
		$(":radio").not('.nobutton').iButton({
			labelOn: "SI"
			, labelOff: "NO"
			, easing: 'easeOutBounce'
			, duration: 400
		});
	});

</script>
-->
{% endblock %}

{% block contenido %}
{% include "actividades/filtros_selectos.html" %}
<div>

	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#variable" aria-controls="variable" role="tab" data-toggle="tab">Combinaciones de variables</a></li>
		<li role="presentation"><a href="#lista" aria-controls="lista" role="tab" data-toggle="tab">Lista de actividades</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="variable">
			
			<h4 class="borde">Combinaciones de variables</h4>
			

			<div class="container-fluid">
				<form action="." method="post">
					{% csrf_token %}
					<div class="col-md-4">
						<div class="col-md-12">
							<label>Variable Principal</label>
							<div>{{form.main_var}}</div>			

						</div>
						
						<div class="col-md-12">
							<div>
								<label>{{form.participantes.label}}</label>
								{{form.participantes}}
							</div>	
							<br>
							
							<div class="clean"></div>
						</div>	
					</div>
					<div class="col-md-4">
						<div>
								<label>{{form.evaluacion.label}}</label>
								<br>
								{{form.eval_tipo}}
								
							<label class="labelclean" for=""></label>				
								{{form.evaluacion}}
							</div>
					</div>
					<div class="col-md-4">
						
						<div class="x1">
							<label>Opciones de Visualización</label>
							<div>
							<div class="prueba">
								{{form.total}}
								<label for="id_total">{{form.total.label}}</label>
							</div>
								<br>
								{{form.bar_graph}} <label>{{form.bar_graph.label}}</label><br>
								{{form.pie_graph}} <label>{{form.pie_graph.label}}</label>
							</div>			
							<div class="clean"></div>
						</div>
						<br>
						<h5>PASO 4</h5>
						<br>
						<div>
							<input type="submit" class="form-button" value="Generar tabla" />
						</div>		
					</div>
				</form>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="lista">
			<h3>Lista de actividades</h3>
			<ul>
				{% for obj in actividad %}
				<li><a href="/actividades/actividades_pdf/{{obj.id}}" target="_black">{{obj.nombre_actividad}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

</div>

{{request.session.var2}}<br>{{request.session.main}}

{% endblock %}

{% block extra_js %}
<script>
	$( "#id_participantes li" ).click(function() {
		$("#id_evaluacion_0, #id_evaluacion_1, #id_evaluacion_2, #id_evaluacion_3, #id_evaluacion_4").prop('checked', false);
	});

	$( "#id_evaluacion_0, #id_evaluacion_1, #id_evaluacion_2, #id_evaluacion_3, #id_evaluacion_4" ).click(function() {
		$("#id_participantes_0, #id_participantes_1, #id_participantes_2").prop('checked', false);
	});	

</script>

{% endblock extra_js %}