{% extends "actividades/base.html" %}
{% load staticfiles %}

{% block title %}{{request.session.filtro.salida}}{% endblock %}

{% block extra_head %}
<style>
	.banner-filtros{	
		height: 60px;
		margin-top: -5px;
		border-top: 6px #fff solid;	
	}

	ul, label {
		list-style: none;
		font-size: 16px
	}

	p {
		padding:10px;
		font-size: 16px;
	}
	
	select {
	 font-size: 14px
	}

	.borde{
		border: 1px solid #afcde3;
	}
</style>
<script type="text/javascript" src="{% static 'actividades/js/underscore-min.js' %}"></script>
<link href="{% static 'actividades/css/form.css' %}" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{% static 'actividades/js/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'actividades/js/jquery.ibutton.min.js' %}"></script>
<link href="{% static 'actividades/css/jquery.ibutton.min.css' %}" rel="stylesheet" type="text/css"/>

<script type="text/javascript">
	$(document).ready(function(){		
		var elems = $('.unique');		
		$('.unique').click(function(){			
			_.each(elems, function(num){ 
				$(num).iButton("toggle", false);
				$(num).attr('checked', false);				
			});
			$(this).attr('checked', true);
			$(this).iButton("toggle", true);
		});	
		$('.recursos').attr("disabled", true);
		$('#id_participantes').append('<option value="" selected="selected">-----</option>');
		$('#id_evaluacion').append('<option value="" selected="selected">-----</option>');



		$(document).on('change','#id_participantes',function(){
			var valor_tipo = $('#id_participantes').val();
			if (valor_tipo != '') {
				$('#id_evaluacion').val('');  
			};
		});
		$(document).on('change','#id_evaluacion',function(){
			var valor_tipo = $('#id_evaluacion').val();
			if (valor_tipo != '') {
				$('#id_participantes').val('');  
			};
		});

	});	
	$(window).load(function(){
		$(":radio").not('.nobutton').iButton({
			labelOn: "SI"
			, labelOff: "NO"
			, easing: 'easeOutBounce'
			, duration: 400
		});
	});



 
    </script>
{% endblock %}

{% block contenido %}
{% include "actividades/filtros_selectos.html" %}
<div class="contenido-variable">

	<!-- Nav tabs -->
	<ul class="nav nav-tabs nav-act" role="actividades">
		<li role="presentation" class="active"><a href="#variable" aria-controls="variable" role="tab" data-toggle="tab">Combinaciones de variables</a></li>
		<li role="presentation"><a href="#lista" aria-controls="lista" role="tab" data-toggle="tab">Lista de actividades</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="variable">
			
			<h4 class="borde">Combinaciones de variables</h4>
			

			<div class="container-fluid">
				<form class="form" action="." method="post">
					{% csrf_token %}
					<div class="col-md-4">
						<div class="col-md-12 space-act">
							<label>Variable Principal</label>
							<div>{{form.main_var}}</div>			
						</div>
						<div class="col-md-12 space-act">		
							<label>{{form.participantes.label}}</label>
							{{form.participantes}}				
						</div>
							
					</div>
					<div class="col-md-4">
						<div class="col-md-12 space-act borde">
								<label>{{form.evaluacion.label}}</label>
								{{form.eval_tipo}}
								{{form.evaluacion}}
						</div>		
					</div>
					<div class="col-md-4 space-act">
						
						<div class="x1">
							<label>Opciones de Visualización</label>

							<div class="visualizacion">
								{{form.total}}
								<label for="id_total">{{form.total.label}}</label>
								<br>
								{{form.bar_graph}}
								<label for="id_bar_graph">{{form.bar_graph.label}}</label>
								<br>
								{{form.pie_graph}}
								<label for="id_pie_graph">{{form.pie_graph.label}}</label>
							</div>
		
						</div>
								
					</div>
					<div class="col-md-12 ">
						<input type="submit" class="btn btn-success center-block"  value="Generar tabla" />
					</div>
					
				</form>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="lista">
			<h3 class="borde">Lista de actividades</h3>
			<div class="table-responsive">
				<table class=" table table-bordered table-hover lista-actividades">
					<tbody>
					{% for obj in actividad %}
						<tr>
							<td class="td-descarga">
								<a href="/actividades/actividades_pdf/{{obj.id}}" target="_black"><i class="fa fa-download fa-2x"></i></a>
							</td>
							<td>
								{{obj.nombre_actividad}}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>



		</div>
	</div>

</div>



{% endblock %}

{% block extra_js %}
<script>
	$( "#id_participantes li" ).click(function() {
		$("#id_evaluacion_0, #id_evaluacion_1, #id_evaluacion_2, #id_evaluacion_3, #id_evaluacion_4").prop('checked', false);
	});

	$( "#id_evaluacion_0, #id_evaluacion_1, #id_evaluacion_2, #id_evaluacion_3, #id_evaluacion_4" ).click(function() {
		$("#id_participantes_0, #id_participantes_1, #id_participantes_2").prop('checked', false);
	});	

</script>

{% endblock extra_js %}