{% extends "cambiaahora/base.html" %}

{% block extra_js %}

{% endblock extra_js %}

{% block contenido %}
<div class="container">

	<div class="row">
		<h4>{{object}} </h4>
		<div class="col-lg-6">
			<div class="table-responsive">
				<table class="" border="0">
					<tbody>
						<tr>
							<td>Tipo:</td>
							<td>{{object.get_tipo_display}}</td>
						</tr>

						{% if object.persona_contacto %}
							<tr>
								<td>Persona de Contacto:</td>
								<td>{{object.persona_contacto}}</td>
							</tr>
						{% endif %}

						<tr>
							<td>Municipio</td>
							<td>{{object.municipio}}</td>
						</tr>

						{% if object.comunidad %}
							<tr>
								<td>Comunidad</td>
								<td>{{object.comunidad}}</td>
							</tr>
						{% endif %}


						{% if object.direccion %}
						<tr>
							<td>Dirección</td>
							<td>{{object.direccion}}</td>
						</tr>
						{% endif %}

						{% if object.convencional %}
						<tr>
							<td>Convencional:</td>
							<td>{{object.convencional}}</td>
						</tr>
						{% endif %}

						{% if object.celular %}
						<tr>
							<td>Celular:</td>
							<td>{{object.celular}}</td>
						</tr>
						{% endif %}
						
						{% if object.correo %}
						<tr>
							<td>Correo:</td>
							<td>{{object.correo}}</td>
						</tr>
						{% endif %}
						{% if object.web %}
						<tr>
							<td>Sitio Web:</td>
							<td>{{object.web}}</td>
						</tr>
						{% endif %}

						{% if object.otro %}
						<tr>
							<td>Otro:</td>
							<td>{{object.otro}}</td>
						</tr>
						{% endif %}
						<tr>
							<td>Redes Sociales:</td>
							<td class="social-mapeo" >
									{% if object.facebook %}
									<a href="{{object.facebook}}" target="_blank"><span>Facebook</span></a>
									{% endif %}
									{% if object.twitter %}
									<a href="{{object.twitter}}" target="_blank"><span>Twitter</span></a>
									{% endif %}
									{% if object.youtube %}
									<a href="{{object.youtube}}" target="_blank"><span>Youtube</span></a>
									{% endif %}

							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-lg-6">
			
		</div>
	</div>




	{% if object.cobertura %}
	<h5>Cobertura</h5>
	<ul>
		{% for obj in object.cobertura.all %}
  			<li>{{obj}}</li>
		{% endfor %}
	</ul>
	{% endif %}

	{% if object.masculino %}
		<h6>Integrantes masculinos: {{object.masculino}}</h6>
	{% endif %}

	{% if object.femenino %}
		<h6>Integrantes femeninos: {{object.femenino}}</h6>
	{% endif %}

	{% if object.integrantes %}
		<h6>Nombre de los integrantes:</h6>
		{{object.integrantes|safe}}
	{% endif %}

	{% if object.tipo != 1 %}
		<h6>Edades de los integrantes:</h6>
		{% if object.mayor_13 %}
			13 a 18 años: {{object.mayor_13}}<br>
		{% endif %}

		{% if object.mayor_19 %}
			19 a 30 años: {{object.mayor_19}}<br>
		{% endif %}
		
		{% if object.mayor_30 %}
			31 a más años: {{object.mayor_30}}<br>
		{% endif %}
		
	{% endif %}

	{% if object.acciones_violencia %}
	<h6>Acciones de Violencia</h6>
	<ul>
		{% for obj in object.acciones_violencia.all %}
  			<li>{{obj}}</li>
		{% endfor %}
	</ul>
	{% endif %}

	{% if object.acciones_consumo_drogas %}
	<h6>Acciones consumo de drogas</h6>
	<ul>
		{% for obj in object.acciones_consumo_drogas.all %}
  			<li>{{obj}}</li>
		{% endfor %}
	</ul>
	{% endif %}

	{% if object.acciones_apoyo %}
	<h6>Acciones de apoyo</h6>
	<ul>
		{% for obj in object.acciones_apoyo.all %}
  			<li>{{obj}}</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>
{% endblock contenido %}