{% extends "cambiaahora/base.html" %}

{% block extra_js %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
	function initialize()
	{	
		var infowindow = new google.maps.InfoWindow();
		var myLatlng = new google.maps.LatLng(12,-85);
		var myOptions = {
			zoom: 7,
			center: myLatlng, 
		}

		var map = new google.maps.Map(document.getElementById('map'), myOptions);

		

		{% for municipio in municipios %}

		var contentString{{forloop.counter}} = '<div id="content">'+
		'<div id="siteNotice">'+
		'<h2 id="firstHeading" class="firstHeading">{{municipio.0}}</h2>'+
		'</div>'+
		'<div id="bodyContent">'+
		'<ul>{% for x in municipio.3 %}<li><a href="{% url "detail-org" x.slug %}">{{x}}</a></li>{% endfor %}</ul>'+
		'</div>'+
		'</div>';

		var infowindow{{forloop.counter}} = new google.maps.InfoWindow({
			content: contentString{{forloop.counter}}
		});

		var marker{{forloop.counter}} = new google.maps.Marker({
			position: {lat: {{municipio.1|safe}}, lng: {{municipio.2|safe}}},
			map: map,
			title: '{{municipio.0}}'
		});

		marker{{forloop.counter}}.addListener('click', function() {
			infowindow{{forloop.counter}}.open(map, marker{{forloop.counter}});
		});

		{% endfor %}
		
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock extra_js %}

{% block contenido %}
<style>
	#map {
		height: 500px
	}
</style>
<div class="container">
	<div id="map"></div>
</div>
{% endblock contenido %}