{% extends "cambiaahora/base.html" %}

{% block titulo %}
	:: {{object.titulo}} ::
{% endblock titulo %}

{% block contenido %}
<!-- Breadcrumb Section Start Here -->
<div class="breadcrumb-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Noticia </h1>
				<ul class="breadcrumb">
					<li>
						<a href="index.html">Inicio</a>
					</li>
					<li>
						<a href="notas.html">Noticias</a>
					</li>
					<li class="active">
						{{object.titulo}}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Breadcrumb Section End Here -->
<div class="content-wrapper" id="page-info">

	<!-- portfolio detail sections -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12">

				<header class="page-header section-header text-center">
					<h2>{{object.titulo|upper}}</h2>
					<img class="social-img" src="newimg/social.png" alt="">
				</header>
<br>
				<div class="portfolio-detail-description">

					<img alt="" src="img/nota1-1.jpg" class="center-block">
					
					<div class="row portfolio-details">
						<div class="col-xs-12">

							<div class="detail-description">

								<p class="">
									{{object.texto|safe}}
								</p>
								
							</div>

						<header class="page-header section-header text-left">
								<h2 class="text-left h3">Noticias Relacionadas</h2>
							</header>
						<div class="row we-help anim-section">
							{% for relacion in noticias_relacionadas %}
							
							<div class="cols-xs-12 zoom col-sm-4">
								<div class="thumbnail">
									<a href="portfolio-detail.html" class="img-thumb"><img alt="" src="http://placehold.it/360x210"></a>

									<h3 class="h3"><a href="{% url 'noticia-detail' relacion.slug %}">{{relacion.titulo}}</a></h3>
									<p>
										{{relacion.texto|safe|truncatewords:12}}
									</p>

								</div>
							</div>

							{% endfor %}
						</div>

					
				</div>

			</div>
		</div>
	</div>
	<!--  sections end -->

</div>

</div>
</div>

{% endblock contenido %}