{% extends "cambiaahora/base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load embed_video_tags %}
{% load staticfiles %}

{% block titulo %}
:: {{object.titulo}} ::
{% endblock titulo %}

{% block share_fb %}
<meta property="og:title" content="{{object.titulo}}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="http://web.cambiaahora.com/media/{{object.foto}}">
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta property="og:description" content="{{object.texto}}" />
<meta property="og:url" content="http://web.cambiaahora.com{{request.path}}" />
<meta property="og:locale" content="es_ES" />
{% endblock share_fb %}

{% block social %}
<script src="{% static 'cambiaahora/js/social.js' %}"></script>
{% endblock social %}

{% block contenido %}

<!-- Breadcrumb Section Start Here -->
<div class="breadcrumb-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>{% trans "Noticia" %}</h1>
				<ul class="breadcrumb bread-principal">
					<li>
						<a href="/">{% trans "Inicio" %}</a>
					</li>
					<li>
						<a href="/noticias/">{% trans "Noticias" %}</a>
					</li>
					<li class="active">
						{{object.titulo}}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Breadcrumb Section End Here -->
<div class="content-wrapper" id="page-info">

	<!-- portfolio detail sections -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				


				<header class="page-header section-header text-center">
					<h2>{{object.titulo|upper}}</h2>
					
				</header>
				<br>

				<div id="share-buttons">
					
					<a class="facebook customer share" href="http://www.facebook.com/sharer.php?u=http://web.cambiaahora.com{{request.path}}" title="Facebook share" target="_blank"><img src="{% static 'cambiaahora/img/facebook.png' %}"></a>

					<a class="twitter customer share" href="http://twitter.com/share?url=http://web.cambiaahora.com{{request.path}}&amp;text={{object.titulo}}" title="Twitter share" target="_blank"><img src="{% static 'cambiaahora/img/twitter.png' %}"></a>
					
					<a class="google_plus customer share" href="https://plus.google.com/share?url=http://web.cambiaahora.com{{request.path}}" title="Google Plus Share" target="_blank"><img src="{% static 'cambiaahora/img/g+.png' %}"></a>
					

				</div>

				<div id="share">
					
					<a class="facebook customer share" href="http://www.facebook.com/sharer.php?u=http://web.cambiaahora.com{{request.path}}" title="Facebook share" target="_blank"><img src="{% static 'cambiaahora/img/facebook.png' %}"></a>

					<a class="twitter customer share" href="http://twitter.com/share?url=http://web.cambiaahora.com{{request.path}}&amp;text={{object.titulo}}" title="Twitter share" target="_blank"><img src="{% static 'cambiaahora/img/twitter.png' %}"></a>
					
					<a class="google_plus customer share" href="https://plus.google.com/share?url=http://web.cambiaahora.com{{request.path}}" title="Google Plus Share" target="_blank"><img src="{% static 'cambiaahora/img/g+.png' %}"></a>
					

				</div>
				

				<div class="portfolio-detail-description">	
					{% if not object.url %}
					{% thumbnail object.foto "800x500" as img %}
					<a href="#" class="img-thumb">
						<img alt="" src="/media/{{img}}" class="center-block">
					</a>
					{% endthumbnail %}
					{% endif %}
					
					{% if object.url %}
					<!--<h2>Esta noticia tiene el siguiente video</h2>-->
					<div class="embed-responsive embed-responsive-16by9 video_space">
						{% video object.url as video  %}
						<div class="col-md-8 col-md-offset-2 col-xs-12">
							<iframe id="detalle_nota_video" 
							src="{{ video.url }}?byline=0&amp;portrait=0&amp;color=ff0179&amp;autoplay=1" 
							frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
						</iframe>
					</div>
					<div class="col-md-2 hidden-xs"></div>
					{% endvideo %}

				</div>
				{% endif %}

				<div class="row portfolio-details">
					<div class="col-xs-12">

						<div class="detail-description">
							<p class="">
								{{object.texto|safe}}
							</p>
						</div>

						<header class="page-header section-header text-left">

							<h2 class="text-left h3">{% trans "Noticias Relacionadas" %}</h2>
						</header>

						<div class="row we-help anim-section">
							{% for relacion in noticias_relacionadas %}
							
							<div class="cols-xs-12 zoom col-sm-4">
								<div class="thumbnail">
									{% if relacion.foto %}
									{% thumbnail relacion.foto "360x210" as img %}
									<a href="{% url 'noticia-detail' relacion.slug %}" class="img-thumb">
										<img alt="" src="/media/{{img}}">
									</a>
									{% endthumbnail %}
									{% elif relacion.url %}
									<div class="embed-responsive embed-responsive-16by9">
										{% video relacion.url query="autoplay=1" as video %}
										<img  src="{{ video.thumbnail }}" width=360 height=291 alt="Click to play" data-video="{{video.url}}"/>
										{% endvideo %}
									</div>
									{% else %}
									<img alt="" src="http://placehold.it/360x210">
									{% endif %}
									<h3 class="h3"><a href="{% url 'noticia-detail' relacion.slug %}">{{relacion.titulo}}</a></h3>
									<p>
										{{relacion.texto|safe|truncatewords:12}}
									</p>

								</div>
							</div>

							{% endfor %}
						</div>


					</div>

				</div>
			</div>
		</div>
		<!--  sections end -->

	</div>

</div>
</div>

{% endblock contenido %}