{% extends "actividades/base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block extra_head %}
{{form.media}}
{{form.foo}}
<link href="{% static 'actividades/css/formee/css/form-structure.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'actividades/css/formee/css/form-style.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'actividades/css/jquery.multiselect.css' %}" rel="stylesheet" type="text/css"/>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link href="{% static 'actividades/css/select2.min.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'actividades/js/select2.min.js' %}"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<style type="text/css">
	.content .wrapper{
		margin-bottom: 50px;
		margin-top: 15px;
	}
	label{
		float: left;
		padding-right: 20px;	
	}
	.ui-datepicker{
	 	font-size:13px !important;
	}

	#id_fecha_inicio, #id_fecha_fin {
		width: 100% !important;
	}

	.select2-container--default .select2-selection--multiple .select2-selection__choice {
	  padding: 2px 5px !important;
	  font-size: 16px;
	  height: auto;
	}

	.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  	 	min-height: 35px !important 
	}

</style>

{% endblock %}

{% block extra_js %}
<link href="{% static 'actividades/css/bootstrap-datepicker3.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'actividades/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript">
	$(function() {
		$('#id_fecha_inicio, #id_fecha_fin').datepicker({
			format: "yyyy-mm-dd",
			autoclose: true,
    		todayHighlight: true
		});
	});

$(document).ready(function() {
  $("#id_municipio").select2();
  $("#id_resultado").select2();
});
</script>

{% endblock extra_js %}

{% block contenido %}
<style>
	.nav li a{
		color: black !important
	}
</style>
<div class="container contenido">
	<div class="col-md-7">
		<div class="banner banner-filtros">	
			<h3 align="center">Filtros de actividades</h3>
		</div>
			
		<center>		
		<form action="." method="post" class="form">
			{% csrf_token %}
			{%if form.errors %}
				<div class="alert alert-error">
					<b>Favor corregir los siguientes errores:</b><br>
					Los campos con (*) son requeridos favor seleccionarlos
				</div>
			{%endif%}
		<div class="col-md-12 filtro_space">
			<div class="row">
            	<div class="col-md-4"><label>Organización *:</label></div>
            	<div class="col-md-8">{{form.organizacion}}</div>
            </div>
        </div>
        <div class="col-md-12 filtro_space">
        	<div class="row">
            	<div class="col-md-4"><label>Proyecto *:</label></div>
            	<div class="col-md-8">{{form.proyecto}}</div>
            </div>
        </div>

        <div class="col-md-12 filtro_space">
       		<div class="row">
            	<div class="col-md-4"><label>Resultado *:</label></div>
            	<div class="col-md-8">{{form.resultado}}</div>
            </div>
        </div>

        <div class="col-md-12 filtro_space">
        	<div class="row">
            	<div class="col-md-4"><label>Municipios:</label></div>
            	<div class="col-md-8">{{form.municipio}}</div>
            </div>
        </div>

        <div class="col-md-12 filtro_space">
        	<div class="row">
            	<div class="col-md-4"><label>Fecha Inicio *:</label></div>
            	<div class="col-md-8">{{form.fecha_inicio}}</div>
            </div>
        </div>

        <div class="col-md-12 filtro_space">
        	<div class="row">
            	<div class="col-md-4"><label>Fecha Fin *:</label></div>
            	<div class="col-md-8">{{form.fecha_fin}}</div>
            </div>
        </div>
        <div class="col-md-12 btn-actividad">
			<input class="btn btn-default" type="submit" value="Consultar" />
		</div>	
		</form>		
		</center>

		</div>


		<div class="col-md-5">
			{% if organizaciones %}
			<h4>Última Actualización</h4>
			{% for org in organizaciones %}
			<div class="thumbnail organizaciones">
				<div class="panel-body">
					<div class="col-md-8">
						<div class="nombre-corto">{{org.nombre_corto|upper}}</div>
						<div class="nombre-largo">{{org.nombre}}</div>
						<div class="actcount">Última actividad registrada el: 
							<b style="color: red;">{{org.last_register|date:"d F Y"}}</b></div>
						</div>
						<div class="col-md-4 imglogo">
							{% if org.logo %}
							<img src="/media/{{org.logo}}" alt="" width="60px">
							{% else %}
							<img src="{% static 'actividades/img/logo.png' %}" alt="Cambia Ahora">
							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
			{% endif %}
			</div>
		</div>
		{% endblock contenido %}