{% extends "actividades/base.html" %}

{% block contenido %}
<div class="contenido">
	<div class="col-md-8">
		<div class="col-md-12">
			<div class="row">
				<div class="col-sm-3 col-md-4">
					<div class="thumbnail">
						<i class="fa fa-file fa-4x"></i>
						<div class="caption">
							<p>Filtro de actividades</p>
							<h4><a href="/actividades/programa/">Programa</a></h4>

						</div>
					</div>
				</div>

				<div class="col-sm-3 col-md-4">
					<div class="thumbnail">
						<i class="fa fa-clipboard fa-4x"></i>
						<div class="caption">
							<p>Filtro de actividades</p>
							<h4><a href="/actividades/proyecto/">Proyecto</a></h4>

						</div>
					</div>
				</div>

				<div class="col-sm-3 col-md-4">
					<div class="thumbnail">
						<i class="fa fa-book fa-4x"></i>
						<div class="caption">
							<p>Manual de usuario</p>
							<h4><a href="">Manual</a></h4>

						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="text">
		
		<!--<div class="imagenFondo">
			<img src="static/actividades/img/index-pic.png" alt="etc" />
			<span>Sistema de monitoreo de actividades para contrapartes de Fadcanic</span>
		</div> -->
		
			<p>Lundium turpis nisi, placerat? Porttitor magna? Dis et? Augue magna integer sagittis, augue dictumst phasellus, urna nunc odio et phasellus, penatibus rhoncus phasellus augue placerat placerat arcu enim. Arcu adipiscing! Ac a, quis, cum pulvinar nisi, eu eu in pulvinar ac vel in facilisis proin risus tempor, quis pulvinar scelerisque arcu amet est in pid, nascetur scelerisque sed scelerisque sit? Augue sed, velit nunc ac egestas in aliquet, egestas ridiculus magnis et. Enim ultricies in tincidunt. Rhoncus porttitor augue hac dictumst penatibus, a nec turpis? Auctor! Pulvinar elementum lacus nisi parturient a a ac tempor sed, elementum enim! Tristique ac, diam turpis in tincidunt, auctor phasellus nisi sed, odio tincidunt lorem ut sit ridiculus penatibus turpis urna sit elementum magna..</p>

			<p>Lundium turpis nisi, placerat? Porttitor magna? Dis et? Augue magna integer sagittis, augue dictumst phasellus, urna nunc odio et phasellus, penatibus rhoncus phasellus augue placerat placerat arcu enim. Arcu adipiscing! Ac a, quis, cum pulvinar nisi, eu eu in pulvinar ac vel in facilisis proin risus tempor, quis pulvinar scelerisque arcu amet est in pid, nascetur scelerisque sed scelerisque sit? Augue sed, velit nunc ac egestas in aliquet, egestas ridiculus magnis et. Enim ultricies in tincidunt. Rhoncus porttitor augue hac dictumst penatibus, a nec turpis? Auctor! Pulvinar elementum lacus nisi parturient a a ac tempor sed, elementum enim! Tristique ac, diam turpis in tincidunt, auctor phasellus nisi sed, odio tincidunt lorem ut sit ridiculus penatibus turpis urna sit elementum magna.</p>
		</div>
	</div>


	<div class="col-md-4">Organizaciones</div>
</div>

{% endblock contenido %}