{% extends "actividades/base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'actividades/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript">
$(function() {
    $('#id_fecha_inicio, #id_fecha_fin').datepicker({
        format: "dd/mm/yy",
        todayBtn: "linked",
        language: "es",
        todayHighlight: true
    });
});

</script>	
{% endblock extra_js %}

{% block contenido %}
<div class="container contenido">
	<div class="col-md-8">
		<div class="col-md-12">
			<div class="row">
				<h2>Panel de activiades</h2>
			</div>
			<div class="row">
				<h4>Consultar</h4>
				<form>
					{{form.as_table}}
				</form>
			</div>
			<div class="row">
				<h2>Conteos de la organización</h2>
				<ul>
					<li>Personas total: </li>
					<li>Hombres: </li>
					<li>Mujeres: </li>
				</ul>
				<h2>Por etnias</h2>
				<ul>
					<li>miskitus: </li>
					<li>creole: </li>
					<li>mestiza: </li>
					<li>garifuno: </li>
					<li>ramas: </li>
				</ul>
				<h2>Por rango de edad</h2>
				<ul>
					<li>edad 1 - 2:</li>
					<li>edad 1 - 2:</li>
					<li>edad 1 - 2:</li>
					<li>edad 1 - 2:</li>
					<li>edad 1 - 2:</li>
					<li>edad 1 - 2:</li>
				</ul>
				<h2>Conteos comites comunales</h2>
				<ul>
					<li>Personas total: </li>
					<li>Hombres: </li>
					<li>Mujeres: </li>
				</ul>
				<h2>Por etnias</h2>
				<ul>
					<li>miskitus: </li>
					<li>creole: </li>
					<li>mestiza: </li>
					<li>garifuno: </li>
					<li>ramas: </li>
				</ul>
				<h2>Por rango de edad</h2>
				<ul>
					<li>edad 1 - 2:</li>
					<li>edad 1 - 2:</li>
					<li>edad 1 - 2:</li>
					<li>edad 1 - 2:</li>
					<li>edad 1 - 2:</li>
					<li>edad 1 - 2:</li>
				</ul>
			</div>
		</div>
	</div>


<div class="col-md-4">

	<h4>Organizaciones</h4>
	{% for org in organizaciones %}
	<div class="thumbnail organizaciones">
		<div class="panel-body">
			<div class="col-md-9">
				<div class="nombre-corto">{{org.nombre_corto|upper}}</div>
				<div class="nombre-largo">{{org.nombre}}</div>
				<div class="actcount">Última actividad registrada el: 
					<b style="color: red;">{{org.last_register|date:"d F Y"}}</b></div>
				</div>
				<div class="col-md-3 imglogo">
					{% if org.logo %}
					<img src="/media/{{org.logo}}" alt="" width="60px">
					{% else %}
					<img src="http://placehold.it/70x70" alt="{{org.nombre_corto}}">
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>


{% endblock contenido %}