<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Charity</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700%7CPlayfair+Display:400,700italic%7CRoboto:300%7CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
		<!-- Bootstrap -->
		<link href="static_media/css/bootstrap.min.css" rel="stylesheet">
		<link href="static_media/css/bootstrap-theme.css" rel="stylesheet">
		<link href="static_media/css/font-awesome.min.css" rel="stylesheet">
		<link href="static_media/revolution-slider/css/settings.css" rel="stylesheet">
		<link href="static_media/css/global.css" rel="stylesheet">
		<link href="static_media/css/style.css" rel="stylesheet">
		<link href="static_media/css/responsive.css" rel="stylesheet">
		<link href="static_media/css/skin.less" rel="stylesheet/less">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<div id="wrapper">
						<!--Header Section Start Here -->
			<header id="header">
				<div class="container">
					<div class="row primary-header">
						<a href="index.html" class="col-xs-12 col-sm-2 brand" title="Welcome to Cambia Ahora"><img src="img/cambiaahora-logo.png" alt="cambiaahora"></a>
						<div class="social-links col-xs-12 col-sm-10">
							<a href="#" class="btn btn-default btn-idioma">
								<img src="img/eeuu.jpg" alt=""> ENGLISH
							</a>
							<ul class="social-icons hidden-xs">
								<li>
									<a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="http://dribble.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
								</li>
								<li>
									<a href="http://pinterest.com" target="_blank"><i class="fa fa-vimeo-square"></i></a>
								</li>

							</ul>
						</div>
					</div>
				</div>
				<div class="navbar navbar-default" role="navigation">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<nav>
							<ul class="nav navbar-nav">
								<li class="active">
									<a href="#">Inicio</a>

								</li>
								<li class="">
									<a href="#">Noticias</a>

								</li>
								<li class="">
									<a href="#">Testimonios</a>

								</li>
								<li class="">
									<a href="#">La Camapaña</a>

								</li>
								<li class="">
									<a href="#">Programación Radio y TV</a>

								</li>

								<li class="">
									<a href="#">Sobre FADCANIC</a>

								</li>
								
								
								
								
								<li class="">
									<a href="#">Multimedia</a>

								</li>

								
								<li>
									<a href="contact-us.html">Contactenos</a>
								</li>

							</ul>
							</nav>

						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</div>

			</header>
			<!-- Header Section End Here -->

			<!-- site content -->
			<div id="main">
				<!--Breadcrumb Section Start Here-->
				<div class="breadcrumb-section">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-lg-8">
								<h1>FADCANIC</h1>
								<ul class="breadcrumb">
									<li>
										<a href="index.html">Inicio</a>
									</li>
									<li class="active">
										Sobre FADCANIC
									</li>
								</ul>

							</div>

							</div>
							
						</div>
					</div>
				</div>
			
				<!--Breadcrumb Section End Here-->

				<div class="content-wrapper" id="page-info">
					<div class="container">
						<!-- Our Story Section Start Here -->
						<section class="our-story row">
							<div class="col-xs-12">
								<header class="story-heading section-header">
									<h2><strong>Historia</strong></h2>
								</header>
								<div class="row">
									<div class="col-xs-12 col-sm-5">
										<section class="slider-wrap flex-slide flexslider">
											<ul class="slides">
											<li>
												<img src="static_media/img/img-slide-01.jpg" alt="">
											</li>
											<li>
												<img src="static_media/img/img-slide-02.jpg" alt="">
											</li>
											</ul>
										</section>
									</div>
									
										<p class="">
											
												En septiembre de 1987, la Asamblea Nacional de Nicaragua aprobó la Ley 28: “Estatuto de Autonomía de las Comunidades de la Costa Atlántica de Nicaragua”. Esta ley reivindica las demandas históricas de sus 6 pueblos indígenas y comunidades étnicas de mayor inclusión y espacios de participación efectiva, en la toma de decisiones de orden político, social y económica; oportunidades decisorias para el manejo y aprovechamiento de los recursos naturales y ambientales; el respeto y visibilización de las tradiciones histórico-culturales propias.
												En este contexto se organiza la Fundación para la Autonomía y Desarrollo de la Costa Atlántica de Nicaragua (FADCANIC) para juntar recursos y voluntades que consoliden e impulsen la experiencia de la autonomía.
											
										</p>
								
										
										<strong>DEFINICIÓN</strong>
									<p>
										Organización de la sociedad civil, apartidista, sin fines de lucro con sede en las Regiones Autónomas que trabaja para el mejoramiento de la calidad de vida los pueblos del caribe y un desarrollo con equidad y justicia social.
									</p>
									<br>
									<strong>CONSTITUCIÓN</strong>

									<p>
									Personería jurídica autorizada el 15 de marzo de 1990, mediante el decreto No. 102 de la Asamblea Nacional de Nicaragua, Estatutos aprobados en la Gaceta, Diario Oficial el 29 de Mayo de 1992.
									Conformada por hombres y mujeres costeños y no costeños comprometidos con el desarrollo de la región, de reconocida trayectoria en el desarrollo en contextos multiétnicos y multiculturales.
									</p>
									<p>
									Sólido respaldo profesional en el área de las ciencias sociales, recursos naturales y del medio ambiente, informática y finanzas.
									Instancia de la sociedad civil donde confluyen trabajadores, instituciones y redes sociales que con el apoyo de agencias internacionales de cooperación fortalecen y consolidan la autonomía apoyando el desarrollo integral.
									Espacio para la construcción de nuevos modelos de desarrollo más incluyentes y respetuosos de las visiones y formas propias de organización de los pueblos indígenas y comunidades étnicas de la región Foro de discusióne y consenso sobre los procesos sociales, políticos y económicos.

									</p>									
										<p>
											Habitasse platea dictumst cras sit amet est eget dui viverra scelerisque duis semper pulvinar in risus ac bibendum aenean hendrerit pharetra nisl Sed sit am etsapien et elit porttitor
										</p>
									
								</div>
							</div>
						</section>
						<!-- Our Story Section Start Here -->

					</div>

					<!-- Helping Section Start here-->
					<section class="helping-child parallax">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-7 col-md-5">
									<h2 class="h1">Helping child in <strong class="border-none">Africa</strong></h2>
									<p>orem ipsum dolor sit amet consectetur adipiscing elit ellentesque egestas nisl at dui tempus uis imperdiet purus fringilla. consectetur adipiscing elit tempus.</p>
									<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-theme">Donate now</a>
								</div>
							</div>
						</div>
					</section>
					<!-- Helping Section Start here-->

					<!-- Our Team Section Start Here -->
					<div class="container">
						<div class="our-team text-center row">
							<div class="col-xs-12">
								<header class="team-info section-header">
									<h2><strong class="border-none">Conoce a Nuestro Equipo</strong></h2>
								</header>
								<div class="row">
									<div class="col-xs-12 col-sm-3 anim-section">
										<div class="thumbnail">
											<figure class="team-photo">
											<img src="img/staff1.jpg" alt="">
											</figure>
											<div class="caption">
												<h3>Kenia Regina Sánchez V</h3>
												<ul class="staff-info">
													<li>
														<a href="#"><strong>Cargo: </strong> Coordinadora del Proyecto Mass Media Campaign Responsable de la Campaña para la Costa Caribe de Nicaragua</a>
													</li>
													<li>
														<a href="#"><strong>Edad: </strong> Con uno más y llego a treinta</a>
													<li>
														<a href="#"><strong>Profesión: </strong> Licenciada en Comunicación Social</a>
													</li>


												</ul>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-3 anim-section">
										<div class="thumbnail">
											<figure class="team-photo">
											<img src="img/staff2.jpg" alt="">
											</figure>
											<div class="caption">
												<h3>Lestell Kelly Aburto</h3>
												<ul class="staff-info">
													<li>
														<a href="#"><strong>Cargo: </strong> Comunicación y Web  Mass Media Campaign</a>
													</li>
													<li>
														<a href="#"><strong>Edad: </strong> 26</a>
													<li>
														<a href="#"><strong>Profesión: </strong> Lic. Sociologia con Mención En Autonomía</a>
													</li>


												</ul>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-3 anim-section">
										<div class="thumbnail">
											<figure class="team-photo">
											<img src="img/staff3.jpg" alt="">
											</figure>
											<div class="caption">
												<h3>Bethania Sanles Alemán</h3>
												<ul class="staff-info">
													<li>
														<a href="#"><strong>Cargo: </strong>  Comunicación y relaciones públicas. Mass Media Campaign</a>
													</li>
													<li>
														<a href="#"><strong>Edad: </strong> 23</a>
													<li>
														<a href="#"><strong>Profesión: </strong> Lic en periodismo y comunicación intercultural</a>
													</li>


												</ul>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-3 anim-section">
										<div class="thumbnail">
											<figure class="team-photo">
											<img src="img/staff4.jpg" alt="">
											</figure>
											<div class="caption">
												<h3>Rodolfo Molina</h3>
												<ul class="staff-info">
													<li>
														<a href="#"><strong>Cargo: </strong> Asistente territorial para la Campaña en Bilwi</a>
													</li>
													<li>
														<a href="#"><strong>Edad: </strong> 34</a>
													<li>
														<a href="#"><strong>Profesión: </strong> Contador pero Líder comunitario de corazón</a>
													</li>


												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Our Team Section Start Here -->

				</div>

			</div>
			<!-- site content ends -->

			<!--Footer Section Start Here -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-4">
						<h6>Contáctanos</h6>
							<div class="footer-logo col-xs-12 col-sm-6 col-lg-6">
								<a href="index.html" title="Welcome to Charity">
									<img src="img/logo.png" alt="FADCANIC">
								</a>
							</div>
							<div class="titulo-logo col-xs-12 col-sm-6 col-lg-6">
								<p>
									Fundación para la Autonomía y el Desarrollo de la Costa Atlántica (FADCANIC) Bluefields, RAAS, Bilwi, RAAN Managua.
								</p>
							</div>
							
							<address>
								<span> <i class="fa fa-home"></i> <span>A-2, Sector-63, Noida, 201301, India</span> </span>
								<span> <i class="fa fa-phone-square"></i> <span>Managua: (505) 2270 0536 - (505) 2270 1921</span> </span>
								<span> <i class="fa fa-phone-square"></i> <span>Puerto Cabezas: (505) 27922203</span> </span>
								<span> <i class="fa fa-phone-square"></i><span>Bluefields: (505) 2572 2386</span> </span>
								<span> <i class="fa fa-fax"></i><span>Fax: (505) 2270 1921</span> </span>
								<span> <i class="fa fa-envelope"></i> <span><a href="mailto:fadcanic@fadcanic.org.ni">fadcanic@fadcanic.org.ni</a></span> </span>
							</address>

						</div>
						<div class="col-xs-12 col-sm-4 twitter-update">
							<h6>Apoyan la Campaña</h6>
							
							<div class="">
								<a href="index.html" title="Welcome to Charity">
									<img src="img/ac1.png" alt="">
								</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<h6>Auspiciado por </h6>
							<div class="">
								<a href="#" title="">
									<img src="img/ac2.png" alt="">
								</a>
							</div>
							<p>
								Departamento de Estado de los Estados Unidos
								International Narcotics and Law Enforcement Affairs U.S. Embassy .
							</p>
							<p>
								Managua, Nicaragua
							</p>
							<span> <i class="fa fa-phone-square"></i><span> (505) 2252-7100, Ext. 7748</span> </span>
							

						</div>
					</div>
				</div>
				<div class="copyright">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<span> &copy; Copyright 2014. Elaborado por <a href="www.simas.org.ni">SIMAS</a>
									</span>
							</div>
						</div>
					</div>
				</div>
			</footer>
	<!--Footer Section End Here -->
	
		<!-- donation form popup -->


		<!-- donation form popup -->
		<script src="static_media/js/jquery.min.js"></script>
		<script src="static_media/js/less.js"></script>
		<!-- Bootstrap Js--> 
		<script src="static_media/js/bootstrap.min.js"></script>
		<script src="static_media/js/jquery.easing.min.js"></script>
		<!--Main Slider Js-->
		<script src="static_media/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
		<script src="static_media/revolution-slider/js/jquery.themepunch.revolution.js"></script>
		<!--Main Slider Js End -->
		<script src="static_media/js/jquery.flexslider.js"></script>
		<script src="static_media/js/site.js"></script>
	</body>
</html>