<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Cambia Ahora</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700%7CPlayfair+Display:400,700italic%7CRoboto:300%7CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
		<!-- Bootstrap -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="assets/css/bootstrap-theme.css" rel="stylesheet">
		<link href="assets/css/font-awesome.min.css" rel="stylesheet">
		<link href="assets/revolution-slider/css/settings.css" rel="stylesheet">
		<link href="assets/css/global.css" rel="stylesheet">
		<link href="assets/css/style.css" rel="stylesheet">
		<link href="assets/css/responsive.css" rel="stylesheet">


		<link rel="stylesheet" href="assets/css/magnific-popup.css">
	

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->


	</head>
	<body>

		
			<!--Header Section Start Here -->
			<header id="header">
				<div class="container">
					<div class="row primary-header">
						<a href="index.html" class="col-xs-12 col-sm-2 brand" title="Welcome to Cambia Ahora"><img src="img/cambiaahora-logo.png" alt="cambiaahora"></a>
						<div class="social-links col-xs-12 col-sm-10">
							<a href="#" class="btn btn-default btn-idioma">
								<img src="img/eeuu.jpg" alt=""> ENGLISH
							</a>
							<ul class="social-icons hidden-xs">
								<li>
									<a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="http://dribble.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
								</li>
								<li>
									<a href="http://pinterest.com" target="_blank"><i class="fa fa-vimeo-square"></i></a>
								</li>

							</ul>
						</div>
					</div>
				</div>
				<div class="navbar navbar-default" role="navigation">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<nav>
							<ul class="nav navbar-nav">
								<li class="active">
									<a href="#">Inicio</a>

								</li>
								<li class="">
									<a href="#">Campaña</a>

								</li>
								<li class="">
									<a href="#">Noticias</a>

								</li>
								<li class="">
									<a href="#">Documentales</a>

								</li>
								<li class="">
									<a href="#">Radio</a>

								</li>

								<li class="">
									<a href="#">Sobre FADCANIC</a>

								</li>
								
								
								
								
								<li class="">
									<a href="#">Multimedia</a>

								</li>

								
								<li>
									<a href="contact-us.html">Contactenos</a>
								</li>

							</ul>
							</nav>

						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</div>

			</header>
			<!-- Header Section End Here -->
			
				<!-- Site Content -->
			<div id="main">
				<!-- banner slider Start Here -->
				<section class="rev_slider_wrapperc main-slider">
					<div class="rev_slider banner-slider">
						<ul>
							<!-- SLIDE  -->
							<li data-transition="random" data-slotamount="7" data-masterspeed="500" >
								<!-- MAIN IMAGE -->
								<img src="banner/5.jpg" alt="banner" data-bgfit="cover" data-bgposition="center 36%" data-bgrepeat="no-repeat">
								<!--Start Primer mensaje-->
								<div
								data-endspeed="500"
								data-easing="easeOutCirc"
								data-start="500"
								data-end="5000"
								data-speed="700"
								data-y="448"
								data-x="152"
								class="tp-caption sft in-fondo3">
									<div class="trans-black3"></div>
								</div>
								<div
								data-endspeed="500"
								data-easing="easeOutCirc"
								data-start="500"
								data-end="5000"
								data-speed="700"
								data-y="122"
								data-x="152"
								class="tp-caption sft banner-heading">
									<h2>Cambiar parece difícil</h2>
								</div>

								<div
								data-endspeed="1000"
								data-easing="easeOutCirc"
								data-start="500"
								data-end="5000"
								data-speed="700"
								data-y="308"
								data-x="152"
								class="tp-caption sft banner-summary in-banner">
									<p>
										Se lográ con acciones diarias y veremos resultados en el futuro. Solo debemos hacerlo.
									</p>
								</div>
								<!--End Primer mensaje-->


								<!--Start segundo mensaje-->
								<div
								data-endspeed="500"
								data-easing="easeOutCirc"
								data-start="5500"
								data-end="10500"
								data-speed="700"
								data-y="448"
								data-x="152"
								class="tp-caption sft in-fondo3">
									<div class="trans-black3"></div>
								</div>
								<div
								data-endspeed="500"
								data-easing="easeOutCirc"
								data-start="5500"
								data-end="10500"
								data-speed="700"
								data-y="122"
								data-x="152"
								class="tp-caption sft banner-heading">
									<h2>Las acciones positivas</h2>
								</div>

								<div
								data-endspeed="1000"
								data-easing="easeOutCirc"
								data-start="5500"
								data-end="10500"
								data-speed="700"
								data-y="308"
								data-x="152"
								class="tp-caption sft banner-summary in-banner">
									<p>
										ayudan a tener un ambiente de paz.
									</p>
								</div>
								<!--End Segundo mensaje-->


								<!--Start tercer mensaje-->
								<div
								data-endspeed="500"
								data-easing="easeOutCirc"
								data-start="11000"
								
								data-speed="700"
								data-y="448"
								data-x="152"
								class="tp-caption sft in-fondo3">
									<div class="trans-black3"></div>
								</div>
								<div
								data-endspeed="500"
								data-easing="easeOutCirc"
								data-start="11000"
								
								data-speed="700"
								data-y="122"
								data-x="152"
								class="tp-caption sft banner-heading">
									<h2>La violencia empieza</h2>
								</div>

								<div
								data-endspeed="1000"
								data-easing="easeOutCirc"
								data-start="11000"
								
								data-speed="700"
								data-y="308"
								data-x="152"
								class="tp-caption sft banner-summary in-banner">
									<p>
										 desde la casa, si tenemos un hogar sin violencia, tendremos personas y ciudadanos sin violencia.
									</p>
								</div>
								<!--End Segundo mensaje-->


							</li>
							<!-- SLIDE  -->
							<li data-transition="random" data-slotamount="7" data-masterspeed="500" >
								<!-- MAIN IMAGE -->
								<img src="newimg/cambia3.JPG" alt="banner" data-bgfit="cover" data-bgposition="center 36%" data-bgrepeat="no-repeat">
								<div
								data-endspeed="800"
								data-easing="easeOutCirc"
								data-start="800"
								data-speed="500"
								data-y="448"
								data-x="152"
								class="tp-caption sft in-fondo">
									<div class="trans-black"></div>
								</div>
								<div
								data-endspeed="800"
								data-easing="easeOutCirc"
								data-start="800"
								data-speed="700"
								data-y="122"
								data-x="152"
								class="tp-caption sft banner-heading in-title">
									<h2>Las acciones positivas</h2>
								</div>

								<div
								data-endspeed="1000"
								data-easing="easeOutCirc"
								data-start="1000"
								data-speed="700"
								data-y="308"
								data-x="152"
								class="tp-caption sft banner-summary in-summary">
									<p>
										ayudan a tener un ambiente de paz.
									</p>
								</div>

								<!--<div
								data-endspeed="1200"
								data-easing="easeOutCirc"
								data-start="1200"
								data-speed="700"
								data-y="384"
								data-x="152"
								class="tp-caption sft">
									<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">Read more</a>
								</div>-->

							</li>
							<!-- SLIDE  -->
							<li data-transition="random" data-slotamount="7" data-masterspeed="500" >
								<!-- MAIN IMAGE -->
								<img src="newimg/Faltapoco.jpg" alt="banner" data-bgfit="cover" data-bgposition="center 36%" data-bgrepeat="no-repeat">
								<div
								data-endspeed="800"
								data-easing="easeOutCirc"
								data-start="800"
								data-speed="500"
								data-y="448"
								data-x="152"
								class="tp-caption sft in-fondo2">
									<div class="trans-black2"></div>
								</div>
								<div
								data-endspeed="800"
								data-easing="easeOutCirc"
								data-start="800"
								data-speed="700"
								data-y="118"
								data-x="152"
								class="tp-caption sft banner-heading in-banner2">
									<h2>La violencia empieza desde la casa</h2>
								</div>

								<div
								data-endspeed="1000"
								data-easing="easeOutCirc"
								data-start="1000"
								data-speed="700"
								data-y="310"
								data-x="152"
								class="tp-caption sft banner-summary in-summary2">
									<p>
										Si tenemos un hogar sin violencia, tendremos personas y ciudadanos sin violencia.
									</p>
								</div>

								<!--<div
								data-endspeed="1200"
								data-easing="easeOutCirc"
								data-start="1200"
								data-speed="700"
								data-y="400"
								data-x="152"
								class="tp-caption sft">
									<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-default">Read more</a>
								</div>-->
							</li>
						</ul>
					</div>
				</section>
				<!-- banner slider End Here -->

<!-- Latest News Section Start Here -->
				<section class="latest-news ">
					<div class="container anim-section">
						<div class="row">
							<div class="col-xs-12">
								<header class="page-header section-header clearfix">
									<h2>Hecha un vistazo a lo que esta pasando. <strong>Ultimas Noticias</strong></h2>
								</header>

									
								<div class="article-list flexslider article-slider row">
								<ul class="slides">

								<li>
									<div class="items item-nota zoom">
										<a href="#" class="img-thumb">
											<figure>
											<img src="newimg/nota1.jpg" alt="">
											</figure>
											</a>
										<h3>Crean comité de organizaciones contra la violencia en Bluefields</h3>
										<span class="date">03 DEC 2013</span><span class="posted-in">Tema: Categoria</span>
										<p>
											Hasta el momento las organizaciones que conforman el Comité son: La Fundación para la Autonomía y Desarrollo de la Costa atlántica de Nicaragua, FADCANIC con la Campaña Cambia ahora, solo hazlo, a Secretaria Regional de la Juventud, SEREJUVE...
										</p>
										<a href="blog-full-width.html" class="btn btn-default btn-nota btn-nota">LEER MAS</a>
									</div>
								</li>
								<li>
									<div class="items item-nota zoom">
										<a href="#" class="img-thumb">
											<figure>
											<img src="newimg/nota2.JPG" alt="">
											</figure>
											</a>
										<h3>Estudiantes se preparan para debates escolares</h3>
										<span class="date">03 DEC 2013</span><span class="posted-in">Tema: Categoria</span>
										<p>
											Para prevenir la violencia se debe garantizar la participación de adolescentes y jóvenes, por eso la Campaña de comunicación también incluye promover que las y los estudiantes sean sujetos activos, que analicen y reflexionen sobre el impacto
										</p>
										<a href="blog-full-width.html" class="btn btn-default btn-nota">LEER MAS</a>
									</div>
								</li>
								<li>
									<div class="items item-nota zoom">
										<a href="#" class="img-thumb">
											<figure>
											<img src="newimg/nota3.jpg" alt="">
											</figure>
											</a>
										<h3>Documental “Tiempo de Cambio”</h3>
										<span class="date">03 DEC 2013</span><span class="posted-in">Tema: Categoria</span>
										<p>
											Un documental que presenta las vidas paralelas de 3 jóvenes costeños, que por diferentes razones cayeron en el círculo de la violencia. En 20 minutos: Julio, Antonio y Bismark muestran la realidad ante la violencia que se vive en el Caribe Nicaragüense.
										</p>
										<a href="blog-full-width.html" class="btn btn-default btn-nota">LEER MAS</a>
									</div>
								</li>
								
								<li>
									<div class="items item-nota zoom">
										<a href="#" class="img-thumb">
											<figure>
											<img src="newimg/nota1.jpg" alt="">
											</figure>
											</a>
										<h3>Crean comité de organizaciones contra la violencia en Bluefields</h3>
										<span class="date">03 DEC 2013</span><span class="posted-in">Tema: Categoria</span>
										<p>
											Hasta el momento las organizaciones que conforman el Comité son: La Fundación para la Autonomía y Desarrollo de la Costa atlántica de Nicaragua, FADCANIC con la Campaña Cambia ahora, solo hazlo, a Secretaria Regional de la Juventud, SEREJUVE...
										</p>
										<a href="blog-full-width.html" class="btn btn-default btn-nota">LEER MAS</a>
									</div>
								</li>
								<li>
									<div class="items item-nota zoom">
										<a href="#" class="img-thumb">
											<figure>
											<img src="newimg/nota2.JPG" alt="">
											</figure>
											</a>
										<h3>Estudiantes se preparan para debates escolares</h3>
										<span class="date">03 DEC 2013</span><span class="posted-in">Tema: Categoria</span>
										<p>
											Para prevenir la violencia se debe garantizar la participación de adolescentes y jóvenes, por eso la Campaña de comunicación también incluye promover que las y los estudiantes sean sujetos activos, que analicen y reflexionen sobre el impacto
										</p>
										<a href="blog-full-width.html" class="btn btn-default btn-nota">LEER MAS</a>
									</div>
								</li>
								<li>
									<div class="items item-nota zoom">
										<a href="#" class="img-thumb">
											<figure>
											<img src="newimg/nota3.jpg" alt="">
											</figure>
											</a>
										<h3>Documental “Tiempo de Cambio”</h3>
										<span class="date">03 DEC 2013</span><span class="posted-in">Tema: Categoria</span>
										<p>
											Un documental que presenta las vidas paralelas de 3 jóvenes costeños, que por diferentes razones cayeron en el círculo de la violencia. En 20 minutos: Julio, Antonio y Bismark muestran la realidad ante la violencia que se vive en el Caribe Nicaragüense.
										</p>
										<a href="blog-full-width.html" class="btn btn-default btn-nota">LEER MAS</a>
									</div>
								</li>
								</ul>
									
									
									
								</div>
							</div>
						</div>
					</div>
				</section>
	<!-- Latest News Section End Here -->
	 <!-- ABOUT US start here-->
        <section id="about">
        	<div class="container">
                <div class="row">
                	<header class="page-header section-header clearfix">
						<h2 class="title-campana">Información de la Campaña</h2>
					</header>

                    
                    <div class="col-lg-12">
                        <img class="img-responsive" src="newimg/campana.jpg" alt="">

                        <br>
                        <div class="row">
                            <p class="lead col-lg-4"><strong>Objetivo:</strong><br>
                            Crear conciencia y movilizar a la opinión pública a favor de las acciones de la familia y la comunidad para prevenir la violencia juvenil y el abuso de drogas a través de una campaña en medios masivos<br>
                            </p>
                        	<p class="lead col-lg-4"><strong>Territorio: </strong><br>La campaña Cambia ahora se encuentra en los territoris de Bluefields, Puerto Cabezas, Waspam y Managua   
                            </p>
                            
                            <p class="lead col-lg-4"><strong>Acciones:</strong><br>
                            La campaña promueve diferentes acciones como Talleres contra la violencia, debates escolares, docuemntales y promoción de no a la violencia en las redes sociales.</p>
                            
                            
                        </div>
                      
                    </div>

                    
                </div>
            </div>
        </section>
    <!-- ABOUT US Section End Here -->
    <!-- How To Help Section Start Here -->
				<section class="how-to-help">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 ">
								<header class="page-header section-header">
									<h2><strong>Documentales</strong></h2>
								</header>

								<div class="row help-list">
									<div class="col-xs-12 col-md-5">
								<div class="row">
									<div class="items zoom col-xs-12 col-md-12">
										<div class="row">
											<a href="#" class="img-thumb col-xs-12 col-sm-5">
											<figure>
												<img src="img/v2.jpg" alt="">
											</figure> </a>
											<div class="media col-xs-12 col-sm-7 video-list">
												<h3>DEBATE INTERCOLEGIA</h3>
												<span class="date">03 DEC 2013</span><span class="posted-in">Tema : category</span>
												<p>Los estudiantes del Colegio Cristiano Verbo, participaron.</p>

												
											</div>
										</div>
									</div>
									<div class="items zoom col-xs-12 col-md-12">
										<div class="row">
											<a href="#" class="img-thumb col-xs-12 col-sm-5">
											<figure>
												<img src="img/v3.jpg" alt="">
											</figure> </a>
											<div class="media col-xs-12 col-sm-7 video-list">
												<h3>DEBATE INTERCOLEGIA</h3>
												<span class="date">03 DEC 2013</span><span class="posted-in">Tema : category</span>
												<p>Los estudiantes del Colegio Cristiano Verbo, participaron.</p>


												
											</div>
										</div>
									</div>
									<div class="items zoom col-xs-12 col-md-12">
										<div class="row">
											<a href="#" class="img-thumb col-xs-12 col-sm-5">
											<figure>
												<img src="img/v4.jpg" alt="">
											</figure> </a>
											<div class="media col-xs-12 col-sm-7 video-list">
												<h3>DEBATE INTERCOLEGIA</h3>
												<span class="date">03 DEC 2013</span><span class="posted-in">Tema : category</span>
												<p>Los estudiantes del Colegio Cristiano Verbo, participaron.</p>


												
											</div>
										</div>
									</div>
									<a href="#" class="btn btn-default btn-video">VER MAS</a>
								</div>

							</div>

									<div class="col-xs-12 col-sm-6 col-lg-7 video-r">
									
										<div class="embed-responsive embed-responsive-16by9">
											<img  src="img/v1.png" alt="Click to play" data-video="https://www.youtube.com/embed/Fe88d0InpOI?autoplay=1"/>
										</div>
										<p>Los estudiantes del Colegio Cristiano Verbo, participaron en el debate en prevención de la violencia juvenil desde el centro escolar. </p>
									</div>
								</div>

							</div>
						</div>
					</div>
				</section>
	<!-- How To Help Section End Here-->
	<!--Testimonial Section Start Here
			
				<section class="testimonial ">
					<div class="container anim-section">
						<div class="row">
							<div class="col-xs-12">
								<header class="page-header section-header clearfix">
									<h2><strong>Historias Reales</strong></h2>
								</header>

									
								<div class="article-list flexslider article-slider row">
								<ul class="slides">
								<li>
									<div class="items zoom col-xs-12 col-lg-6">
										<a href="#" class="img-thumb">
											<figure>
											<img src="img/test1.jpg" alt="">
											</figure>
										</a>
									</div>
									<div class="testimonio-info col-xs-12 col-lg-6">
										<h3>TODO DEPENDE DE NOSOTROS</h3>
										<span class="date">03 DEC 2013</span><span class="posted-in">Posted In : category</span>
										<blockquote>

										<p>
											Mi nombre es Lestell Kelly Aburto, formo parte del equipo de la Campaña Mass media Campaign agaist prevention of violence in Bluefields, Bilwi and Waspam, durante el tiempo que tengo de trabajar en este enorme esfuerzo y poder contribuir en la reducción de la violencia dentro mi comunidad, me he dado cuenta que las personas que viven violencia han pasado por situaciones muy difíciles...
										</p>
										</blockquote>
										
										<a href="blog-full-width.html" class="btn btn-default">CONOCER MAS HISTORIAS</a>
									</div>
								</li>
								<li>
									<div class="items zoom col-xs-12 col-lg-6">
										<a href="#" class="img-thumb">
											<figure>
											<img src="img/test2.jpg" alt="">
											</figure>
										</a>
									</div>
									<div class="testimonio-info col-xs-12 col-lg-6">
										<h3>JULIO FISH NOS CUENTA SU HISTORIA</h3>
										<span class="date">03 DEC 2013</span><span class="posted-in">Posted In : category</span>
										<blockquote>
										<p>
											Soy Julio Martínez conocido como Fish en mi barrio Teodoro Martínez . Vivo en Bluefields.Desde pequeño conocí las drogas y las pandillas. Mi padre nunca estuvo en casa y eso me motivó a salir a buscar amigos a la calle. Ahí conocí las drogas, el robo y otros delitos...
										</blockquote>
										<a href="blog-full-width.html" class="btn btn-default">CONOCER MAS HISTORIAS</a>
									</div>
								</li>
								<li>
									<div class="items zoom col-xs-12 col-lg-6">
										<a href="#" class="img-thumb">
											<figure>
											<img src="img/test3.jpg" alt="">
											</figure>
										</a>
									</div>
									<div class="testimonio-info col-xs-12 col-lg-6">
										<h3>RODOLFO MOLINA CUENTA SU HISTORIA</h3>
										<span class="date">03 DEC 2013</span><span class="posted-in">Posted In : category</span>
										<blockquote>
										<p>
											Soy Rodolfo Molina.De Bilwi.
											Crecí en el barrio más peligroso de ahí. Somos 5 hermanos de los cuales 2 han estado en drogas y pandillas. A pesar de ver cómo en mi barrio había tanto peligro y malos ejemplos decidí estudiar e involucrarme en actividades saludables...
										</p>
										</blockquote>
										<a href="blog-full-width.html" class="btn btn-default">CONOCER MAS HISTORIAS</a>
									</div>
								</li>

								</ul>
									
									
									
								</div>
							</div>
						</div>
					</div>
				</section>
	Testimonial Section End Here -->
	<!--Radio Section Start Here -->			
				<section class="serie-radio">
					<div class="overlay"></div>
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
							<div role="tabpanel" class="radio-tab">

							  <!-- Nav tabs -->
							  <ul class="nav nav-tabs" role="tablist">
							    <li role="presentation" class="active"><a href="#radio1" aria-controls="home" role="tab" data-toggle="tab">Radio 1</a></li>
							    <li role="presentation"><a href="#radio2" aria-controls="profile" role="tab" data-toggle="tab">Radio 2</a></li>
							    
							  </ul>

							  <!-- Tab panes -->
							  <div class="tab-content">
							    <div role="tabpanel" class="tab-pane active" id="radio1">
							    <div class="container">
									<div class="row">
										<div class="col-xs-12">
										    <div class="audio-radio ">
												<div class="col-xs-12 col-sm-7 col-md-6">
													<img class="img-thumbnail" src="img/radio.jpg" alt="">
													<h3>Serie radiofónica: <strong>HAZLO !</strong></h3>
											      	<audio preload></audio>
											      	<div class="track-details">

				    								</div>

												</div>
												<div class="col-xs-12 col-sm-7 col-md-6 playlist-audio">
													<ol class="list-group">
												        <li class="list-group-item">
													        <span class="fa"></span>
													        <a href="#"  data-src="http://kolber.github.io/audiojs/demos/mp3/01-dead-wrong-intro.mp3">dead wrong intro</a>
												       
												        </li>

												        <li class="list-group-item">
													        <span class="fa"></span>
													        <a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/02-juicy-r.mp3">juicy-r</a>
												        </li>

												        <li class="list-group-item">
												        	<span class="fa"></span>
												        	<a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/03-its-all-about-the-crystalizabeths.mp3">it's all about the crystalizabeths</a>
												        </li>

												        <li class="list-group-item">
												        	<span class="fa"></span>
												        	<a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/04-islands-is-the-limit.mp3">islands is the limit</a>
												        </li>

												        <li class="list-group-item">
												        	<span class="fa"></span>
												        	<a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/05-one-more-chance-for-a-heart-to-skip-a-beat.mp3">one more chance for a heart to skip a beat</a>
												        </li>


												        <li class="list-group-item">
												        	<span class="fa"></span>
												        	<a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/06-suicidal-fantasy.mp3">suicidal fantasy</a>
												        </li>

												        <li class="list-group-item">
													        <span class="fa"></span>
													        <a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/07-everyday-shelter.mp3">everyday shelter</a>
												        </li>

												        <li class="list-group-item">
												        	<span class="fa"></span>
												        	<a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/08-basic-hypnosis.mp3">basic hypnosis</a>
												        </li>

												        <li class="list-group-item">
												        	<span class="fa"></span>
												        	<a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/09-infinite-victory.mp3">infinite victory</a>
												        </li>

												        <li class="list-group-item">
															<span class="fa"></span>
												        	<a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/10-the-curious-incident-of-big-poppa-in-the-nighttime.mp3">the curious incident of big poppa in the nighttime</a>
												        </li>

												        <li class="list-group-item">
												        <span class="fa"></span>
												        <a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/11-mo-stars-mo-problems.mp3">mo stars mo problems</a>
												        </li>
												      </ol>
												</div>
										      

											</div>
										</div>
									</div>
								</div>	
							    </div>
							    <div role="tabpanel" class="tab-pane" id="radio2">
							  		<div class="container">
									<div class="row">
										<div class="col-xs-12">
										    <div class="audio-radio ">
												<div class="col-xs-12 col-sm-7 col-md-6">
													<img class="img-thumbnail" src="img/radio.jpg" alt="">
													<h3>Serie radiofónica: <strong>HAZLO !</strong></h3>
											      	<audio preload></audio>
											      	<div class="track-details">

				    								</div>

												</div>
												<div class="col-xs-12 col-sm-7 col-md-6 playlist-audio">
													<ol class="list-group">
												        <li class="list-group-item">
													        <span class="fa"></span>
													        <a href="#"  data-src="http://kolber.github.io/audiojs/demos/mp3/01-dead-wrong-intro.mp3">dead wrong intro</a>
												       
												        </li>

												        <li class="list-group-item">
													        <span class="fa"></span>
													        <a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/02-juicy-r.mp3">juicy-r</a>
												        </li>

												        <li class="list-group-item">
												        	<span class="fa"></span>
												        	<a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/03-its-all-about-the-crystalizabeths.mp3">it's all about the crystalizabeths</a>
												        </li>

												        <li class="list-group-item">
												        	<span class="fa"></span>
												        	<a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/04-islands-is-the-limit.mp3">islands is the limit</a>
												        </li>

												        <li class="list-group-item">
												        	<span class="fa"></span>
												        	<a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/05-one-more-chance-for-a-heart-to-skip-a-beat.mp3">one more chance for a heart to skip a beat</a>
												        </li>


												        <li class="list-group-item">
												        	<span class="fa"></span>
												        	<a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/06-suicidal-fantasy.mp3">suicidal fantasy</a>
												        </li>

												        <li class="list-group-item">
													        <span class="fa"></span>
													        <a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/07-everyday-shelter.mp3">everyday shelter</a>
												        </li>

												        <li class="list-group-item">
												        	<span class="fa"></span>
												        	<a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/08-basic-hypnosis.mp3">basic hypnosis</a>
												        </li>

												        <li class="list-group-item">
												        	<span class="fa"></span>
												        	<a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/09-infinite-victory.mp3">infinite victory</a>
												        </li>

												        <li class="list-group-item">
															<span class="fa"></span>
												        	<a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/10-the-curious-incident-of-big-poppa-in-the-nighttime.mp3">the curious incident of big poppa in the nighttime</a>
												        </li>

												        <li class="list-group-item">
												        <span class="fa"></span>
												        <a href="#" data-src="http://kolber.github.io/audiojs/demos/mp3/11-mo-stars-mo-problems.mp3">mo stars mo problems</a>
												        </li>
												      </ol>
												</div>
										      

											</div>
										</div>
									</div>
							    </div>
							    
							  </div>

							</div>

							</div>
						</div>
					</div>
				</section>
	<!--radio Section End Here -->

	<!-- GALLERY -->
		<div class="popup-gallery">

			<a class="gallery" href="newimg/cambia1.jpg" title="The Cleaner">
				<img src="newimg/cambia1.jpg" width="222" height="auto">
				
			</a>
			<a class="gallery" href="newimg/Faltapoco.jpg" title="Winter Dance">
				<img src="newimg/Faltapoco.jpg" width="222" height="auto">
			</a>
			<a class="gallery" href="newimg/cambia3.JPG"1 title="The Uninvited Guest">
				<img src="newimg/cambia3.JPG" width="222" height="auto">
			</a>
			<a class="gallery" href="newimg/nota1.jpg" title="Oh no, not again!">
				<img src="newimg/nota1.jpg" width="222" height="auto">
			</a>
			<a class="gallery" href="newimg/nota2.JPG" title="Swan Lake">
				<img src="newimg/nota2.JPG" width="222" height="auto">
			</a>

			<a class="gallery" href="newimg/nota3.jpg" title="The Shake">
				<img src="newimg/nota3.jpg" width="222" height="auto">
			</a>
			
		</div>
	
				<section class="socialmedia">
					<div class="container">
						<div class="row">
							<h2> <strong>Cambia Ahora</strong></h2>
							<div class="col-xs-12 col-sm-12 col-md-12">
								
								<img src="newimg/socialmedia.png" alt="">
							
							</div>
						</div>
					</div>
				</section>
	



			</div>
				<section class="apoyan ">
					<div class="container anim-section">
						<div class="row">
							<div class="col-xs-12">
								<header class="page-header section-header clearfix">
									<h2>Apoyan la campaña</h2>
								</header>

									
								<div class="article-list flexslider article-slider row">
								<ul class="slides">

								<li>
								<img class="img-responsive" src="img/p1.png" alt="">
								</li>
								<li>
									<img class="img-responsive" src="img/p2.png" alt="">
								</li>
								<li>
									<img class="img-responsive" src="img/p3.png" alt="">
								</li>
								
								<li>
									<img class="img-responsive" src="img/p4.png" alt="">
								</li>
								<li>
									<img class="img-responsive" src="img/p5.png" alt="">
								</li>
								<li>
									<img class="img-responsive" src="img/p6.png" alt="">
								</li>
								<li>
									<img class="img-responsive" src="img/p1.png" alt="">
								</li>
								<li>
									<img class="img-responsive" src="img/p2.png" alt="">
								</li>
								<li>
									<img class="img-responsive" src="img/p3.png" alt="">
								</li>
								<li>
									<img class="img-responsive" src="img/p4.png" alt="">
								</li>
								<li>
									<img class="img-responsive" src="img/p5.png" alt="">
								</li>
								<li>
									<img class="img-responsive" src="img/p6.png" alt="">
								</li>
								</ul>
									
									
									
								</div>
							</div>
						</div>
					</div>
				</section>
	<!--Content End Here -->
	<!--Footer Section Start Here -->
 <!-- FOOTER -->
        <footer>
        	<div class="container">
            	<div class="row">
                	
                	<div class="col-md-3 col-lg-3">
                        <h3 class="uppercase">FADCANIC</h3>
                        <img src="img/logo.png" class="logo-fadcanic center-block" alt="">
                        <br>
                        <p>Fundación para la Autonomía y el Desarrollo de la Costa Atlántica (FADCANIC) Bluefields, RAAS, Bilwi, RAAN Managua.</p>
                        <div class="social">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                    	</div>
                    </div>
                    
                    <div class="col-md-3 col-lg-3">
                    	<h3 class="uppercase">contactos</h3>
                        

                        
                        <div class="address">
                        	<div class="icon">
                            	<i class="fa fa-lg fa-phone"></i>
                            </div>
                            <p>Managua: (505) 2270 0536 <br> (505) 2270 1921</p>
                        </div>
                        <div class="address">
                            <div class="icon">
                                <i class="fa fa-lg fa-phone"></i>
                            </div>
                            <p>Puerto Cabezas: (505) 27922203</p>
                        </div>
                        <div class="address">
                            <div class="icon">
                                <i class="fa fa-lg fa-phone"></i>
                            </div>
                            <p>Bluefields: (505) 2572 2386</p>
                        </div>
                        <div class="address">
                            <div class="icon">
                                <i class="fa fa-lg fa-fax"></i>
                            </div>
                            <p>Fax: (505) 2270 1921</p>
                        </div>
                        
                        
                        <div class="address">
                        	<div class="icon">
                            	<i class="fa fa-lg fa-envelope"></i>
                            </div>
                            
                            <p>changenowlestsdoit@gmail.com</p>

                        </div>
                        <div class="address">
                            <div class="icon">
                                <i class="fa fa-lg fa-envelope"></i>
                            </div>

                            <p>director@fadcanic.org.ni</p>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-lg-6 logo-eeuu">
                    <h3 class="uppercase">Auspiciado por</h3>
                        <div class="col-md-6 col-lg-6">
                            <img src="img/ac2.png" alt="">
                        </div>
                    	<div class="col-md-6 col-lg-6">
                        <p>Departamento de Estado de los Estados Unidos
                        International Narcotics and Law Enforcement Affairs U.S. Embassy.
                        <br>Managua, Nicaragua</p>
                        <br>

                            <div class="address">
                                <div class="icon">
                                    <i class="fa fa-lg fa-phone"></i>
                                </div>
                                <p> (505) 2252-7100, Ext. 7748</p>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
        </footer>
        
        
        <!-- SUBFOOTER -->
        <div class="subfooter">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-12">
                    	<p> © Copyright 2015. Elaborado por <a href="www.simas.org.ni">SIMAS</a>
                                    </p>
                    
                    </div>
                </div>
            </div>
        </div>
	<!--Footer Section End Here -->

		</div>

	
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/less.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/jquery.easing.min.js"></script>
		<!--Main Slider Js-->
		<script src="assets/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
		<script src="assets/revolution-slider/js/jquery.themepunch.revolution.js"></script>
		<!--Main Slider End Js-->
		<script src="assets/js/jquery.flexslider.js"></script>
		<script src="assets/js/fixednavbar.js"></script>
		<script src="assets/js/site.js"></script>
		<script src="assets/js/audiojs/audio.min.js"></script>

<script src="assets/js/jquery.magnific-popup.min.js"></script>



	<script>
      $(function() { 
        // Setup the player to autoplay the next track
        var a = audiojs.createAll({
          trackEnded: function() {
            var next = $('ol li.playing').next();
            if (!next.length) next = $('ol li').first();
            next.addClass('playing').siblings().removeClass('playing');
            audio.load($('a', next).attr('data-src'));
            audio.play();
          }
        });
        
        // Load in the first track
        var audio = a[0];
            first = $('ol a').attr('data-src');
        $('ol li').first().addClass('playing');
        audio.load(first);

        // Load in a track on click
        $('ol li').click(function(e) {
          e.preventDefault();
          $(this).addClass('playing disabled').siblings().removeClass('playing disabled');
          audio.load($('a', this).attr('data-src'));
          audio.play();
        });
        // Keyboard shortcuts
        $(document).keydown(function(e) {
          var unicode = e.charCode ? e.charCode : e.keyCode;
             // right arrow
          if (unicode == 39) {
            var next = $('li.playing').next();
            if (!next.length) next = $('ol li').first();
            next.click();
            // back arrow
          } else if (unicode == 37) {
            var prev = $('li.playing').prev();
            if (!prev.length) prev = $('ol li').last();
            prev.click();
            // spacebar
          } else if (unicode == 32) {
            audio.playPause();
          }
        })
      });


document.addEventListener("touchstart", function(){}, true);
    </script>

	</body>
</html>