<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Charity</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700%7CPlayfair+Display:400,700italic%7CRoboto:300%7CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
		<!-- Bootstrap -->
		<link href="static_media/css/bootstrap.min.css" rel="stylesheet">
		<link href="static_media/css/bootstrap-theme.css" rel="stylesheet">
		<link href="static_media/css/font-awesome.min.css" rel="stylesheet">
		<link href="static_media/revolution-slider/css/settings.css" rel="stylesheet">
		<link href="static_media/css/global.css" rel="stylesheet">
		<link href="static_media/css/style.css" rel="stylesheet">
		<link href="static_media/css/responsive.css" rel="stylesheet">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<div id="wrapper">
			<!--Header Section Start Here -->
			<header id="header">
				<div class="container">
					<div class="row primary-header">
						<a href="index.html" class="col-xs-12 col-sm-2 brand" title="Welcome to Cambia Ahora"><img src="img/cambiaahora-logo.png" alt="cambiaahora"></a>
						<div class="social-links col-xs-12 col-sm-10">
							<a href="#" class="btn btn-default btn-idioma">
								<img src="img/eeuu.jpg" alt=""> ENGLISH
							</a>
							<ul class="social-icons hidden-xs">
								<li>
									<a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="http://dribble.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
								</li>
								<li>
									<a href="http://pinterest.com" target="_blank"><i class="fa fa-vimeo-square"></i></a>
								</li>

							</ul>
						</div>
					</div>
				</div>
				<div class="navbar navbar-default" role="navigation">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<nav>
							<ul class="nav navbar-nav">
								<li class="active">
									<a href="#">Inicio</a>

								</li>
								<li class="">
									<a href="#">Noticias</a>

								</li>
								<li class="">
									<a href="#">Testimonios</a>

								</li>
								<li class="">
									<a href="#">La Camapaña</a>

								</li>
								<li class="">
									<a href="#">Programación Radio y TV</a>

								</li>

								<li class="">
									<a href="#">Sobre FADCANIC</a>

								</li>
								
								
								
								
								<li class="">
									<a href="#">Multimedia</a>

								</li>

								
								<li>
									<a href="contact-us.html">Contactenos</a>
								</li>

							</ul>
							</nav>

						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</div>

			</header>
			<!-- Header Section End Here -->

			<!-- site content -->
			<div id="main">
				<!--Breadcrumb Section Start Here-->
				<div class="breadcrumb-section">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-lg-8">
								<h1>Ultimas Noticias</h1>
								<ul class="breadcrumb">
									<li>
										<a href="index.html">Inicio</a>
									</li>
									<li class="active">
										Noticias
									</li>
								</ul>

							</div>

							</div>
							
						</div>
					</div>
				</div>
			
				<!--Breadcrumb Section End Here-->

				<div class="content-wrapper" id="page-info">

					<!-- Gallery sections Start Here -->
					<section class="we-help gallery-wrap">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<!--Sub Breadcrumb Section Start Here-->
									<ol class="breadcrumb">
										<li>
											<a href="#">La campaña</a>
										</li>
										<li class="active">
											<a href="#">Violencia</a>
										</li>
										<li>
											<a href="#">Drogas</a>
										</li>

									</ol>
									<!--Sub Breadcrumb Section Start Here-->
									<!--Gallery Section Start Here-->
									<div class="row gallery ">
										<div class="cols-xs-12 col-sm-4 anim-section nota-img ">
											<div class="thumbnail">
												<section class="flex-slide flexslider">
													<ul class="slides">
													<li>
														<a class="img-thumb" href="javascript:;"><img src="img/nota1-1.jpg" alt=""></a>
													</li>
													<li>
														<a class="img-thumb" href="javascript:;"><img src="img/nota1-2.jpg" alt=""></a>
													</li>
													</ul>
												</section>

												<h3 class="h3"><a href="portfolio-detail.html">CAMPAÑA CONTRA LA VIOLENCIA Y LAS DROGAS EN LA COSTA CARIBE</a></h3>
												<p>
													Bajo el eslogan “Cambia Ahora, Solo Hazlo”, en español, “Change Now, Let´s Do It” en inglés y “Nanara Chens Muns, Alki Dauks”...
												</p>

											</div>
										</div>
										<div class="cols-xs-12 col-sm-4 anim-section nota-img">
											<div class="thumbnail embed-vedio-block">

												<div class="embed-responsive embed-responsive-16by9">
													<img  src="img/nota2.png" alt="Click to play" data-video="http://www.youtube.com/embed/g2JiJPD4nxY?autoplay=1"/>
												</div>

												<h3 class="h3"><a href="portfolio-detail.html">LA CAMPAÑA EN CANAL 2 TV </a></h3>
												<p>
													Como parte de la difusión de la Campaña “Cambia Ahora, solo Hazlo”, se ha venido trabajando en un esfuerzo de coordinación con los medios de comunicación nacional.
												</p>

											</div>
										</div>
										<div class="cols-xs-12 col-sm-4 anim-section nota-img">
											<div class="thumbnail">

												<a class="img-thumb" href="portfolio-detail.html">
													<img src="img/nota3.jpg" alt=""></a>

												<h3 class="h3"><a href="portfolio-detail.html">HISTORIAS CONTADAS EN MISKITU, CREOLE Y ESPAÑOL</a></h3>
												<p>
													Janiska Brown de 22 años de Bluefields, Rosa Selmira una adolescente de Waspam y Sonia Pedro de 50 años, junto con otros 60 jóvenes y adultos participaron en la construcción..
												</p>

											</div>
										</div>
<div class="cols-xs-12 col-sm-4 anim-section nota-img ">
											<div class="thumbnail">
												<section class="flex-slide flexslider">
													<ul class="slides">
													<li>
														<a class="img-thumb" href="javascript:;"><img src="img/nota1-1.jpg" alt=""></a>
													</li>
													<li>
														<a class="img-thumb" href="javascript:;"><img src="img/nota1-2.jpg" alt=""></a>
													</li>
													</ul>
												</section>

												<h3 class="h3"><a href="portfolio-detail.html">CAMPAÑA CONTRA LA VIOLENCIA Y LAS DROGAS EN LA COSTA CARIBE</a></h3>
												<p>
													Bajo el eslogan “Cambia Ahora, Solo Hazlo”, en español, “Change Now, Let´s Do It” en inglés y “Nanara Chens Muns, Alki Dauks”...
												</p>

											</div>
										</div>
										<div class="cols-xs-12 col-sm-4 anim-section nota-img">
											<div class="thumbnail embed-vedio-block">

												<div class="embed-responsive embed-responsive-16by9">
													<img  src="img/nota2.png" alt="Click to play" data-video="http://www.youtube.com/embed/g2JiJPD4nxY?autoplay=1"/>
												</div>

												<h3 class="h3"><a href="portfolio-detail.html">LA CAMPAÑA EN CANAL 2 TV </a></h3>
												<p>
													Como parte de la difusión de la Campaña “Cambia Ahora, solo Hazlo”, se ha venido trabajando en un esfuerzo de coordinación con los medios de comunicación nacional.
												</p>

											</div>
										</div>
										<div class="cols-xs-12 col-sm-4 anim-section nota-img">
											<div class="thumbnail">

												<a class="img-thumb" href="portfolio-detail.html">
													<img src="img/nota3.jpg" alt=""></a>

												<h3 class="h3"><a href="portfolio-detail.html">HISTORIAS CONTADAS EN MISKITU, CREOLE Y ESPAÑOL</a></h3>
												<p>
													Janiska Brown de 22 años de Bluefields, Rosa Selmira una adolescente de Waspam y Sonia Pedro de 50 años, junto con otros 60 jóvenes y adultos participaron en la construcción..
												</p>

											</div>
										</div>


									</div>

								<!--Gallery Section End Here-->
								</div>

								<!--Pagination Section Start Here-->

								<div class="cols-xs-12 text-center">

									<ul class="pagination">
										<li>
											<a href="#">Prev</a>
										</li>
										<li class="active">
											<a href="#">1</a>
										</li>
										<li>
											<a href="#">2</a>
										</li>
										<li>
											<a href="#">3</a>
										</li>
										<li>
											<a href="#">4</a>
										</li>
										<li>
											<a href="#">Next</a>
										</li>
									</ul>

								</div>

								<!--Pagination Section Start Here-->

							</div>
						</div>
					</section>
					<!-- Gallery sections Start Here -->

				</div>

			</div>
			<!-- site content ends -->

			<!--Footer Section Start Here -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-4">
						<h6>Contáctanos</h6>
							<div class="footer-logo col-xs-12 col-sm-6 col-lg-6">
								<a href="index.html" title="Welcome to Charity">
									<img src="img/logo.png" alt="FADCANIC">
								</a>
							</div>
							<div class="titulo-logo col-xs-12 col-sm-6 col-lg-6">
								<p>
									Fundación para la Autonomía y el Desarrollo de la Costa Atlántica (FADCANIC) Bluefields, RAAS, Bilwi, RAAN Managua.
								</p>
							</div>
							
							<address>
								<span> <i class="fa fa-home"></i> <span>A-2, Sector-63, Noida, 201301, India</span> </span>
								<span> <i class="fa fa-phone-square"></i> <span>Managua: (505) 2270 0536 - (505) 2270 1921</span> </span>
								<span> <i class="fa fa-phone-square"></i> <span>Puerto Cabezas: (505) 27922203</span> </span>
								<span> <i class="fa fa-phone-square"></i><span>Bluefields: (505) 2572 2386</span> </span>
								<span> <i class="fa fa-fax"></i><span>Fax: (505) 2270 1921</span> </span>
								<span> <i class="fa fa-envelope"></i> <span><a href="mailto:fadcanic@fadcanic.org.ni">fadcanic@fadcanic.org.ni</a></span> </span>
							</address>

						</div>
						<div class="col-xs-12 col-sm-4 twitter-update">
							<h6>Apoyan la Campaña</h6>
							
							<div class="">
								<a href="index.html" title="Welcome to Charity">
									<img src="img/ac1.png" alt="">
								</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<h6>Auspiciado por </h6>
							<div class="">
								<a href="#" title="">
									<img src="img/ac2.png" alt="">
								</a>
							</div>
							<p>
								Departamento de Estado de los Estados Unidos
								International Narcotics and Law Enforcement Affairs U.S. Embassy .
							</p>
							<p>
								Managua, Nicaragua
							</p>
							<span> <i class="fa fa-phone-square"></i><span> (505) 2252-7100, Ext. 7748</span> </span>
							

						</div>
					</div>
				</div>
				<div class="copyright">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<span> &copy; Copyright 2014. Elaborado por <a href="www.simas.org.ni">SIMAS</a>
									</span>
							</div>
						</div>
					</div>
				</div>
			</footer>
	<!--Footer Section End Here -->
	
		<script src="static_media/js/jquery.min.js"></script>
		<script src="static_media/js/less.js"></script>	
		<!-- Bootstrap Js--> 
		<script src="static_media/js/bootstrap.min.js"></script>
		<script src="static_media/js/jquery.easing.min.js"></script>
		<script src="static_media/js/jquery.flexslider.js"></script>
		<script src="static_media/js/site.js"></script>

	</body>
</html>