<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Charity</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700%7CPlayfair+Display:400,700italic%7CRoboto:300%7CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
		<!-- Bootstrap -->
		<link href="static_media/css/bootstrap.min.css" rel="stylesheet">
		<link href="static_media/css/bootstrap-theme.css" rel="stylesheet">
		<link href="static_media/css/font-awesome.min.css" rel="stylesheet">
		<link href="static_media/revolution-slider/css/settings.css" rel="stylesheet">
		<link href="static_media/css/global.css" rel="stylesheet">
		<link href="static_media/css/style.css" rel="stylesheet">
		<link href="static_media/css/responsive.css" rel="stylesheet">
	
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>

		<div id="wrapper">
			<!--Header Section Start Here -->
			<!--Header Section Start Here -->
			<header id="header">
				<div class="container">
					<div class="row primary-header">
						<a href="index.html" class="col-xs-12 col-sm-2 brand" title="Welcome to Cambia Ahora"><img src="img/cambiaahora-logo.png" alt="cambiaahora"></a>
						<div class="social-links col-xs-12 col-sm-10">
							<a href="#" class="btn btn-default btn-idioma">
								<img src="img/eeuu.jpg" alt=""> ENGLISH
							</a>
							<ul class="social-icons hidden-xs">
								<li>
									<a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
								</li>
								<li>
									<a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="http://dribble.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
								</li>
								<li>
									<a href="http://pinterest.com" target="_blank"><i class="fa fa-vimeo-square"></i></a>
								</li>

							</ul>
						</div>
					</div>
				</div>
				<div class="navbar navbar-default" role="navigation">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<nav>
							<ul class="nav navbar-nav">
								<li class="active">
									<a href="#">Inicio</a>

								</li>
								<li class="">
									<a href="#">Noticias</a>

								</li>
								<li class="">
									<a href="#">Testimonios</a>

								</li>
								<li class="">
									<a href="#">La Camapaña</a>

								</li>
								<li class="">
									<a href="#">Programación Radio y TV</a>

								</li>

								<li class="">
									<a href="#">Sobre FADCANIC</a>

								</li>
								
								
								
								
								<li class="">
									<a href="#">Multimedia</a>

								</li>

								
								<li>
									<a href="contact-us.html">Contactenos</a>
								</li>

							</ul>
							</nav>

						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</div>

			</header>
			<!-- Header Section End Here -->
			<!-- site content -->
			<div id="main">
			<!-- Breadcrumb Section Start Here -->
				<div class="breadcrumb-section">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<h1>Noticia </h1>
								<ul class="breadcrumb">
									<li>
										<a href="index.html">Inicio</a>
									</li>
									<li>
										<a href="notas.html">Noticias</a>
									</li>
									<li class="active">
										Nota
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			<!-- Breadcrumb Section End Here -->
				<div class="content-wrapper" id="page-info">

					<!-- portfolio detail sections -->
					<div class="container">
						<div class="row">
							<div class="col-xs-12">

								<header class="page-header section-header text-center">
									<h2>CAMPAÑA CONTRA LA VIOLENCIA Y LAS DROGAS EN LA COSTA CARIBE</h2>
									<img class="social-img" src="newimg/social.png" alt="">
								</header>
<br>
								<div class="portfolio-detail-description">

									<img alt="" src="img/nota1-1.jpg" class="center-block">
									
									<div class="row portfolio-details">
										<div class="col-xs-12">

											<div class="detail-description">

												<p class="">
													Bajo el eslogan “Cambia Ahora, Solo Hazlo”, en español, “Change Now, Let´s Do It” en inglés y “Nanara Chens Muns, Alki Dauks”, en miskitu, la Fundación para la Autonomía de la Costa Atlántica de Nicaragua (FADCANIC), lanza la campaña de comunicación contra la violencia y el uso de drogas en los municipios de de Bluefields, Puerto Cabezas y Waspam.
												</p>
												<p>
													El propósito de la campaña es crear conciencia y movilizar a la opinión pública a favor de las acciones de la familia y la comunidad para prevenir la violencia juvenil y el abuso de drogas a través de una campaña en medios masivos y alternativos. La campaña esta dirigida a mujeres, hombres, adolescentes y jóvenes entre las edades de 14 a 25 años de los municipios de Bluefields, Puerto Cabezas y Waspam.
 



												</p>

												<p>

													La iniciativa cuenta con el apoyo de la International Narcotics and Law Enforcement Affairs U.S. Embassy de los Estados Unidos y la colaboración de diferentes organizaciones e instituciones que trabajan en la Costa Caribe.
													El lanzamiento se realizará el 18, 24 y 26 de junio en las ciudades de Bluefields, Waspam y Bilwi respectivamente. El 18 de junio, en su lanzamiento estará presenta la Embajadora de los Estados Unidos en Nicaragua Phyllis M. Powers y el Presidente de FADCANIC Sr Ray Hooker Taylor.
 
												</p>
												<p>
													Para realzar el lanzamiento, se espera la participación de 400 adolescentes y jóvenes de los distintos centros escolares gracias al apoyo del Ministerio de Educación, que recorren las calles al son de comparsas, bandas rítmicas y lemas contra la violencia, para finalizar con un acto oficial de presentación ante la opinión pública.
												</p>


												
											</div>

										

										

										<header class="page-header section-header text-left">
												<h2 class="text-left h3">Noticias Relacionadas</h2>
											</header>
										<div class="row we-help anim-section">
												
											<div class="cols-xs-12 zoom col-sm-4">
												<div class="thumbnail">
													<a href="portfolio-detail.html" class="img-thumb"><img alt="" src="newimg/nota1.jpg"></a>

													<h3 class="h3"><a href="portfolio-detail.html">Crean comité de organizaciones contra la violencia en Bluefields</a></h3>
													<p>
														Hasta el momento las organizaciones que conforman el Comité son: La Fundación para la Autonomía y Desarrollo de la Costa atlántica de Nicaragua, FADCANIC con la Campaña Cambia ahora, solo hazlo, a Secretaria Regional de la Juventud, SEREJUVE...
													</p>

												</div>
											</div>

											<div class="cols-xs-12 zoom col-sm-4">
												<div class="thumbnail">
													<a href="portfolio-detail.html" class="img-thumb"><img alt="" src="newimg/nota2.JPG"></a>
													<h3 class="h3"><a href="portfolio-detail.html">Estudiantes se preparan para debates escolares</a></h3>
													<p>
														Para prevenir la violencia se debe garantizar la participación de adolescentes y jóvenes, por eso la Campaña de comunicación también incluye promover que las y los estudiantes sean sujetos activos, que analicen y reflexionen sobre el impacto
													</p>

												</div>
											</div>

											<div class="cols-xs-12 zoom col-sm-4">
												<div class="thumbnail">
													<a href="portfolio-detail.html" class="img-thumb"><img alt="" src="newimg/nota3.jpg"></a>

													<h3 class="h3"><a href="portfolio-detail.html">Documental “Tiempo de Cambio”</a></h3>
													<p>
														Un documental que presenta las vidas paralelas de 3 jóvenes costeños, que por diferentes razones cayeron en el círculo de la violencia. En 20 minutos: Julio, Antonio y Bismark muestran la realidad ante la violencia que se vive en el Caribe Nicaragüense.
													</p>

												</div>
											</div>
										</div>

									
								</div>

							</div>
						</div>
					</div>
					<!--  sections end -->

				</div>

			</div>
			</div>
			</div>
			<!-- site content ends -->

	<!--Footer Section Start Here -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-4">
						<h6>Contáctanos</h6>
							<div class="footer-logo col-xs-12 col-sm-6 col-lg-6">
								<a href="index.html" title="Welcome to Charity">
									<img src="img/logo.png" alt="FADCANIC">
								</a>
							</div>
							<div class="titulo-logo col-xs-12 col-sm-6 col-lg-6">
								<p>
									Fundación para la Autonomía y el Desarrollo de la Costa Atlántica (FADCANIC) Bluefields, RAAS, Bilwi, RAAN Managua.
								</p>
							</div>
							
							<address>
								<span> <i class="fa fa-home"></i> <span>A-2, Sector-63, Noida, 201301, India</span> </span>
								<span> <i class="fa fa-phone-square"></i> <span>Managua: (505) 2270 0536 - (505) 2270 1921</span> </span>
								<span> <i class="fa fa-phone-square"></i> <span>Puerto Cabezas: (505) 27922203</span> </span>
								<span> <i class="fa fa-phone-square"></i><span>Bluefields: (505) 2572 2386</span> </span>
								<span> <i class="fa fa-fax"></i><span>Fax: (505) 2270 1921</span> </span>
								<span> <i class="fa fa-envelope"></i> <span><a href="mailto:fadcanic@fadcanic.org.ni">fadcanic@fadcanic.org.ni</a></span> </span>
							</address>

						</div>
						<div class="col-xs-12 col-sm-4 twitter-update">
							<h6>Apoyan la Campaña</h6>
							
							<div class="">
								<a href="index.html" title="Welcome to Charity">
									<img src="img/ac1.png" alt="">
								</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4">
							<h6>Auspiciado por </h6>
							<div class="">
								<a href="#" title="">
									<img src="img/ac2.png" alt="">
								</a>
							</div>
							<p>
								Departamento de Estado de los Estados Unidos
								International Narcotics and Law Enforcement Affairs U.S. Embassy .
							</p>
							<p>
								Managua, Nicaragua
							</p>
							<span> <i class="fa fa-phone-square"></i><span> (505) 2252-7100, Ext. 7748</span> </span>
							

						</div>
					</div>
				</div>
				<div class="copyright">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<span> &copy; Copyright 2014. Elaborado por <a href="www.simas.org.ni">SIMAS</a>
									</span>
							</div>
						</div>
					</div>
				</div>
			</footer>
	<!--Footer Section End Here -->
		</div>
		<script src="static_media/js/jquery.min.js"></script>
		<script src="static_media/js/less.js"></script>
		<script src="static_media/js/bootstrap.min.js"></script>
		<script src="static_media/js/site.js"></script>
	</body>
</html>