{% extends "cambiaahora/base.html" %}

{% block contenido %}
	<div id="main">
				<!--Breadcrumb Section Start Here-->
				<div class="breadcrumb-section">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-lg-8">
								<h1>FADCANIC</h1>
								<ul class="breadcrumb">
									<li>
										<a href="index.html">Inicio</a>
									</li>
									<li class="active">
										Sobre FADCANIC
									</li>
								</ul>

							</div>

							</div>
							
						</div>
					</div>
				</div>
			
				<!--Breadcrumb Section End Here-->

				<div class="content-wrapper" id="page-info">
					<div class="container">
						<!-- Our Story Section Start Here -->
						<section class="our-story row">
							<div class="col-xs-12">
								<header class="story-heading section-header">
									<h2><strong>{{flatpage.title}}</strong></h2>
								</header>
								<div class="row">
									
										<p class="">
											
											{{ flatpage.content|safe }}
											
										</p>
									
								</div>
							</div>
						</section>
						<!-- Our Story Section Start Here -->

					</div>

					<!-- Helping Section Start here-->
					<section class="helping-child parallax">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-7 col-md-5">
									<h2 class="h1">Helping child in <strong class="border-none">Africa</strong></h2>
									<p>orem ipsum dolor sit amet consectetur adipiscing elit ellentesque egestas nisl at dui tempus uis imperdiet purus fringilla. consectetur adipiscing elit tempus.</p>
									<a data-toggle="modal" href="external.html" data-target=".donate-form" class="btn btn-theme">Donate now</a>
								</div>
							</div>
						</div>
					</section>
					<!-- Helping Section Start here-->

					<!-- Our Team Section Start Here -->
					<div class="container">
						<div class="our-team text-center row">
							<div class="col-xs-12">
								<header class="team-info section-header">
									<h2><strong class="border-none">Conoce a Nuestro Equipo</strong></h2>
								</header>
								<div class="row">
									<div class="col-xs-12 col-sm-3 anim-section">
										<div class="thumbnail">
											<figure class="team-photo">
											<img src="img/staff1.jpg" alt="">
											</figure>
											<div class="caption">
												<h3>Kenia Regina Sánchez V</h3>
												<ul class="staff-info">
													<li>
														<a href="#"><strong>Cargo: </strong> Coordinadora del Proyecto Mass Media Campaign Responsable de la Campaña para la Costa Caribe de Nicaragua</a>
													</li>
													<li>
														<a href="#"><strong>Edad: </strong> Con uno más y llego a treinta</a>
													<li>
														<a href="#"><strong>Profesión: </strong> Licenciada en Comunicación Social</a>
													</li>


												</ul>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-3 anim-section">
										<div class="thumbnail">
											<figure class="team-photo">
											<img src="img/staff2.jpg" alt="">
											</figure>
											<div class="caption">
												<h3>Lestell Kelly Aburto</h3>
												<ul class="staff-info">
													<li>
														<a href="#"><strong>Cargo: </strong> Comunicación y Web  Mass Media Campaign</a>
													</li>
													<li>
														<a href="#"><strong>Edad: </strong> 26</a>
													<li>
														<a href="#"><strong>Profesión: </strong> Lic. Sociologia con Mención En Autonomía</a>
													</li>


												</ul>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-3 anim-section">
										<div class="thumbnail">
											<figure class="team-photo">
											<img src="img/staff3.jpg" alt="">
											</figure>
											<div class="caption">
												<h3>Bethania Sanles Alemán</h3>
												<ul class="staff-info">
													<li>
														<a href="#"><strong>Cargo: </strong>  Comunicación y relaciones públicas. Mass Media Campaign</a>
													</li>
													<li>
														<a href="#"><strong>Edad: </strong> 23</a>
													<li>
														<a href="#"><strong>Profesión: </strong> Lic en periodismo y comunicación intercultural</a>
													</li>


												</ul>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-3 anim-section">
										<div class="thumbnail">
											<figure class="team-photo">
											<img src="img/staff4.jpg" alt="">
											</figure>
											<div class="caption">
												<h3>Rodolfo Molina</h3>
												<ul class="staff-info">
													<li>
														<a href="#"><strong>Cargo: </strong> Asistente territorial para la Campaña en Bilwi</a>
													</li>
													<li>
														<a href="#"><strong>Edad: </strong> 34</a>
													<li>
														<a href="#"><strong>Profesión: </strong> Contador pero Líder comunitario de corazón</a>
													</li>


												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
{% endblock contenido %}