{% extends "cambiaahora/base.html" %}

{% block contenido %}
	<div id="main">
				<!--Breadcrumb Section Start Here-->
				<div class="breadcrumb-section">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-lg-8">
								<h1>FADCANIC</h1>
								<ul class="breadcrumb">
									<li>
										<a href="index.html">Inicio</a>
									</li>
									<li class="active">
										Sobre FADCANIC
									</li>
								</ul>

							</div>

							</div>
							
						</div>
					</div>
				</div>
			
				<!--Breadcrumb Section End Here-->

				<div class="content-wrapper" id="page-info">
					<div class="container">
						<!-- Our Story Section Start Here -->
						<section class="our-story row">
							<div class="col-xs-12">
								<header class="story-heading section-header">
									<h2><strong>{{flatpage.title}}</strong></h2>
								</header>
								<div class="row">
									
										<p class="">
											
											{{ flatpage.content|safe }}
											
										</p>
									
								</div>
							</div>
						</section>
						<!-- Our Story Section Start Here -->

					</div>

					<!-- Our Team Section Start Here -->
					<div class="container">
						<div class="our-team text-center row">
							<div class="col-xs-12">
								<header class="team-info section-header">
									<h2><strong class="border-none">Conoce a Nuestro Equipo</strong></h2>
								</header>
								<div class="row">
									{% for obj in equipo %}
									<div class="col-xs-12 col-sm-3 anim-section">
									<div class="thumbnail">
										<figure class="team-photo">
										<img src="img/staff2.jpg" alt="">
										</figure>
											<div class="caption">
												<h3>{{obj.titulo}}</h3>
												<ul class="staff-info">
													<li>
														<a href="#"><strong>Cargo: </strong> Comunicación y Web  Mass Media Campaign</a>
													</li>
													<li>
														<a href="#"><strong>Edad: </strong> 26</a>
													<li>
														<a href="#"><strong>Profesión: </strong> Lic. Sociologia con Mención En Autonomía</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									{% endfor %}
									
								</div>
							</div>
						</div>
					</div>
				</div>
{% endblock contenido %}