{% extends "cambiaahora/base.html" %}

{% load staticfiles%}
{% load i18n %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block titulo %}
	:: {% trans 'cambia ahora' %}::
{% endblock titulo %}

{% block extra_js %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

          
{% endblock extra_js %}

{% block contenido %}
<section class="rev_slider_wrapperc main-slider">
	<div class="rev_slider banner-slider">
		<ul>
		{% for obj in config %}
			
			<!-- SLIDE  -->
			<li data-transition="random" data-slotamount="7" data-masterspeed="500" >
				<!-- MAIN IMAGE -->
				{% thumbnail obj.foto "1350x560" as img %}
				<img src="/media/{{img}}" alt="banner" data-bgfit="cover" data-bgposition="center 36%" data-bgrepeat="no-repeat">
				{% endthumbnail %}
				<!--Start Primer mensaje-->
				<div
				data-endspeed="500"
				data-easing="easeOutCirc"
				data-start="500"
				data-end="5000"
				data-speed="700"
				data-y="448"
				data-x="152"
				class="tp-caption sft in-fondo3">
					<div class="trans-black3"></div>
				</div>
				<div
				data-endspeed="500"
				data-easing="easeOutCirc"
				data-start="500"
				data-end="5000"
				data-speed="700"
				data-y="122"
				data-x="152"
				class="tp-caption sft banner-heading">
					<h2>{{obj.titulo1}}</h2>
				</div>

				<div
				data-endspeed="1000"
				data-easing="easeOutCirc"
				data-start="500"
				data-end="5000"
				data-speed="700"
				data-y="308"
				data-x="152"
				class="tp-caption sft banner-summary in-banner">
					<p>
						{{obj.descripcion1}}
					</p>
				</div>
				<!--End Primer mensaje-->


				<!--Start segundo mensaje-->
				<div
				data-endspeed="500"
				data-easing="easeOutCirc"
				data-start="5500"
				data-end="10500"
				data-speed="700"
				data-y="448"
				data-x="152"
				class="tp-caption sft in-fondo3">
					<div class="trans-black3"></div>
				</div>
				<div
				data-endspeed="500"
				data-easing="easeOutCirc"
				data-start="5500"
				data-end="10500"
				data-speed="700"
				data-y="122"
				data-x="152"
				class="tp-caption sft banner-heading">
					<h2>{{obj.titulo2}}</h2>
				</div>

				<div
				data-endspeed="1000"
				data-easing="easeOutCirc"
				data-start="5500"
				data-end="10500"
				data-speed="700"
				data-y="308"
				data-x="152"
				class="tp-caption sft banner-summary in-banner">
					<p>
						{{obj.descripcion2}}
					</p>
				</div>
				<!--End Segundo mensaje-->


				<!--Start tercer mensaje-->
				<div
				data-endspeed="500"
				data-easing="easeOutCirc"
				data-start="11000"
				
				data-speed="700"
				data-y="448"
				data-x="152"
				class="tp-caption sft in-fondo3">
					<div class="trans-black3"></div>
				</div>
				<div
				data-endspeed="500"
				data-easing="easeOutCirc"
				data-start="11000"
				
				data-speed="700"
				data-y="122"
				data-x="152"
				class="tp-caption sft banner-heading">
					<h2>{{obj.titulo3}}</h2>
				</div>

				<div
				data-endspeed="1000"
				data-easing="easeOutCirc"
				data-start="11000"
				
				data-speed="700"
				data-y="308"
				data-x="152"
				class="tp-caption sft banner-summary in-banner">
					<p>
						 {{obj.descripcion3}}
					</p>
				</div>
				<!--End Segundo mensaje-->


			</li>
			{% endfor %}
		</ul>
	</div>
</section>
<!-- banner slider End Here -->
<!-- Latest News Section Start Here -->
<section class="latest-news ">
	<div class="container anim-section">
		<div class="row">
			<div class="col-xs-12">
				<header class="page-header section-header clearfix">
					<h2>{% trans 'Hecha un vistazo a lo que esta pasando.' %} <strong>{% trans 'Últimas Noticias' %}</strong></h2>
				</header>

					
				<div class="article-list flexslider article-slider row">
				<ul class="slides">
				{% for noticia in  ultimas_noticias %}	
					<li>
						<div class="items item-nota zoom">
							<a href="#" class="img-thumb">
								<figure>
								{% if noticia.foto %}
								{% thumbnail noticia.foto "360x225" as img %}
									<img src="/media/{{img}}" alt="">
								{% endthumbnail %}
								{%else%}
									<img src="http://placehold.it/360x225" alt="">
								{% endif %}
								
								</figure>
								</a>
							<h3>{{noticia.titulo}}</h3>
							<span class="date">{{noticia.fecha|date:"d m Y"}}</span><span class="posted-in">{% trans 'Tema:' %} {{noticia.categoria}}</span>

							
								{{noticia.texto|safe|truncatewords:20}}
							<p></p>
							<a href="{% url 'noticia-detail' noticia.slug %}" class="btn btn-default btn-nota">{% trans 'LEER MÁS' %}</a>

					</li>
				{% endfor %}
				</ul>	
				</div>

				<a href="/noticias/" class=" pull-right">{% trans "VER MAS NOTICIAS" %}</a>

			</div>
		</div>
	</div>
</section>
<!-- Latest News Section End Here -->
 <!-- ABOUT US start here-->
        <section id="about">
        	<div class="container">
                <div class="row">
                	<header class="page-header section-header clearfix">
						<h2 class="title-campana">{% trans 'Información de la Campaña' %}</h2>
					</header>

                    
                    <div class="col-lg-12">
                    	{% for obj in informacion %}
                    	{% if obj.foto %}
                    		{% thumbnail obj.foto "1170x435" as img %}
								<img class="img-responsive" src="/media/{{img}}" alt="">
							{% endthumbnail %}
						{% else %}
							<img class="img-responsive" src="http://placehold.it/1170x435" alt="">
                    	{% endif %}
                    		
                        <br>
                        <div class="row">
                            <p class="lead col-lg-4"><strong>{% trans "Objetivo" %}:</strong><br>
                            {{obj.objetivos|safe}}
                            <br>
                            </p>
                        	<p class="lead col-lg-4"><strong>{% trans "Territorio" %}: </strong><br>
							{{obj.territorios|safe}}
                            </p>
                            
                            <p class="lead col-lg-4"><strong>{% trans "Acciones" %}:</strong><br>
							{{obj.acciones|safe}}
                            </p>
                            
                            
                        </div>
                     {% endfor %}
                    </div>

                    
                </div>
            </div>
        </section>
    <!-- ABOUT US Section End Here -->
<!-- How To Help Section Start Here -->
<section class="how-to-help">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 ">
				<header class="page-header section-header">
					<h2><strong>{% trans "Documentales" %}</strong></h2>
				</header>

				<div class="row help-list">
					
				<div class="row">

	<!-- tabs left -->    	

		<div class="col-xs-12 col-sm-5"> <!-- required for floating -->
		<!-- Nav tabs -->
		<ul class="nav nav-tabs tabs-left">
			{% for obj in documentales %}
			<li {% if forloop.counter == 1 %}class="active"{% endif %} ><a href="#home{{forloop.counter}}" data-toggle="tab">
				
				<figure>
				{% for vd in obj.subirdocumentales_set.all|slice:":1" %}
					{% video vd.video as video %}
						<img src="{{ video.thumbnail }}" width=170 height=100 alt="">
					{% endvideo %}
				{% endfor %}
				</figure> 
				<div class="media col-xs-12 col-sm-7 video-list">
					<h3>{{obj.nombre}}</h3>
					<span class="date">{{obj.fecha}}</span><span class="posted-in">{% trans "Tema" %}: {{obj.categoria}}</span>
					<p>{{obj.descripcion|safe|truncatewords:8}}</p>
				</div>

			</a></li>
			{% endfor %}
		</ul>
		</div>

		<div class="col-xs-12 col-sm-7">
		<!-- Tab panes -->
		<div class="tab-content">
			{% for obj in documentales %}
				<div class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="home{{forloop.counter}}">
					<div class="video-r">
					<img src="" alt="">
						<div class="video-icon">
                            <i class="fa fa-2x fa-video-camera"></i>
                        </div>
						<div class="thumbnail embed-vedio">
						{% for vd in obj.subirdocumentales_set.all|slice:":1" %}
							<div class="embed-responsive embed-responsive-16by9">
							 {% video vd.video query="autoplay=1" as video %}
								<img  src="{{ video.thumbnail }}" width=600 height=400 alt="Click to play" data-video="{{video.url}}"/>
							 {% endvideo %}
							</div>
						{% endfor %}
						</div>
						<p>{{obj.descripcion}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
		</div>  
     
     <!-- /tabs -->
	</div>

 </div>
</div>
</div>
</section>
<!-- How To Help Section End Here-->
<section class="serie-radio">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
			<div role="tabpanel" class="radio-tab">

			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			  	{% for obj in audios %}
				    <li role="presentation" class=" {% if forloop.counter == 1 %}active{% endif %}"><a href="#radio{{forloop.counter}}" aria-controls="home" role="tab" data-toggle="tab">{{obj.nombre}}</a></li>
			    {% endfor %}
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
			  	{% for obj in audios %}
			    <div role="tabpanel" class="tab-pane {% if forloop.counter == 1 %}active{% endif %} " id="radio{{forloop.counter}}">
			    <div class="container">
					<div class="row">
						<div class="col-xs-12">
						    <div class="audio-radio ">
								<div class="col-xs-12 col-sm-7 col-md-6">
									{% if  obj.foto %}
										{% thumbnail obj.foto "310x310" as img %}
											<img class="img-thumbnail" src="/media/{{img}}" alt="">
										{% endthumbnail %}
									{% else %}
										<img class="img-thumbnail" src="http://placehold.it/310x310" alt="">
									{% endif %}
									<h3>Serie radiofónica: <strong><a href="{% url 'audios-detail' obj.id %}">{{obj.nombre}}</a></strong></h3>
							      	<audio preload></audio>
							      	<div class="track-details">
    								</div>

								</div>
								<div class="col-xs-12 col-sm-7 col-md-6 playlist-audio">
									<ol class="list-group">
									{% for audios in obj.subiraudios_set.all %}
										<li class="list-group-item">
									        <span class="fa"></span>
									        <a href="#"  data-src="/media/{{audios.audio}}">{{audios.titulo}}</a>
								        </li>
									{% endfor %}
								        
								    </ol>
								</div>
							</div>
						</div>
					</div>
				</div>	
			    </div>
			    {% endfor %}

			</div>

			</div>
		</div>
	</div>
</section>
<!--radio Section End Here -->
<!--Testimonial Section Start Here-->
			
				<section class="testimonial ">
					<div class="container anim-section">
						<div class="row">
							<div class="col-xs-12">
								<header class="page-header section-header clearfix">
									<h2>{% trans "Cambia Ahora" %}<strong> {% trans "Opina" %}</strong></h2>
								</header>

									
								<div class="article-list flexslider article-slider row">
								<ul class="slides">
								{% for obj in ultimas_testimonios %}
									<li>
									<div class="item-testimonial">
										<div class="avatar">
										{% if obj.foto %}
											{% thumbnail obj.foto "274x235" as img %}
												<img src="/media/{{img}}" alt="" class="img-circle">
											{% endthumbnail %}
										{% else %}
											<img src="http://placehold.it/274x235" alt="" class="img-circle">
										{% endif %}
										</div>
										<div class="opinion">
											<h4 class="name-testimonial">{{obj.titulo}}</h4>

											<hr class="style-two">

											<span class="fa fa-quote-left"></span> 
											<p>{{obj.texto|safe}}
											</p>
											<span class="fa fa-quote-right"></span>
										</div>
									</div>
								</li>
								{% endfor %}
								

								</ul>
									
									
									
								</div>
							</div>
						</div>
					</div>
				</section>
	<!--Testimonial Section End Here -->

<div class="popup-gallery">
	{% for obj in albunes %}
		{% for fotos in obj.subirfotos_set.all|slice:":6" %}
			<a class="gallery" href="/media/{{fotos.foto}}" title="The Cleaner">
				<img src="/media/{{fotos.foto}}" width="222" height="auto">	
			</a>
		{% endfor %}
	{% endfor %}		
</div>

<section class="socialmedia">
	<div class="container">
		<div class="row">
			<h2>Cambia Ahora <strong> Redes Sociales</strong></h2>
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="fbook col-xs-12 col-sm-12 col-md-6">
					
					    <!-- Page plugin's width will be 190px -->
					  <div class="fb-page" data-href="https://www.facebook.com/pages/Cambia-ahora-solo-hazlo/1485321515024959" data-width="800" data-height="400" data-show-posts="true" data-show-facepile="false" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true"></div>
					
				</div>
				<div class="stwtter col-xs-12 col-sm-12 col-md-6">
					<a class="twitter-timeline"  href="https://twitter.com/Cambia_ahora" data-widget-id="611998502336331776">Tweets por el @Cambia_ahora.</a>

            
          
				</div>
			</div>
		</div>
	</div>
</section>
</div>
{% endblock contenido %}
