{% extends "cambiaahora/base.html" %}
{% load i18n %}

{% block titulo %}
:: {% trans 'Actividades' %} ::
{% endblock titulo %}

{% block extra_js %}

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
	function initialize()
	{
		var myLatlng = new google.maps.LatLng(13,-85);
		var myOptions = {
            zoom: 7,
            center: myLatlng, 
        }
		var map = new google.maps.Map(document.getElementById('map-canvas'), myOptions);
		var bounds = new google.maps.LatLngBounds();
		var infowindow = new google.maps.InfoWindow();
		//var image = new google.maps.MarkerImage('http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/m2.png');
		
		$.getJSON("{% url 'obtener-lista' %}", function(data){
                $.each(data, function(i, elemento){
					var latlng = new google.maps.LatLng(elemento.lat, elemento.lon);
					bounds.extend(latlng);	
					var marker = new google.maps.Marker({
					position: latlng,
					map: map,
					title: elemento.nombre,
					//icon: image,
				});

			google.maps.event.addListener(marker, 'click', (function(mm, tt) {
				return function() {
					infowindow.setContent(tt);
					infowindow.open(map, mm);
				}
			})(marker, elemento.nombre));
                                       
                });
                
            });
		//map.fitBounds(bounds);	
	}

	google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% endblock extra_js %}

{% block contenido %}

<style>
	#map-canvas {
		height: 500px;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	.map{
		margin-bottom: 50px
	}

	h6 {
		margin-bottom: 0px !important;
	}
	.numero {
		color: rgb(244, 115, 23);
		margin: 0 10px 0 10px;
	}
</style>
<div class="container">
	<h3 align="center">Actividades de las Comunidades</h3>
	<div class="map col-md-8">
		<div id="map-canvas"></div>
	</div>

	<div class="col-md-4">
		<h5 align="center">Total de participantes</h5>
		{% for y in masculino.values %}
		<h6><i class="fa fa-male fa-2x"></i> <span class="numero">{{y}}</span> Hombres</h6>
		{% endfor %}
		<hr>
		{% for y in femenino.values %}
		<h6><i class="fa fa-female fa-2x"></i> <span class="numero">{{y}}</span> Mujeres</h6>
		{% endfor %}
		<hr>
		
		<h6><i class="fa fa-list-alt fa-2x"></i> <span class="numero">{{actividades}}</span> Total de Actividades</h6>
		
		<hr>
		<a class="btn btn-default" href="/datos/" role="button">Explorar datos</a>
	</div>

</div>

{% endblock contenido %}