{% extends "cambiaahora/base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load endless %}

{% block titulo %}
	:: {% trans "audios" %}
{% endblock titulo %}

{% block contenido %}
<!-- site content -->
<div id="main">
<!--Breadcrumb Section Start Here-->
<div class="breadcrumb-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-8">
				<h1>{% trans "Audios" %}</h1>
				<ul class="breadcrumb bread-principal">
					<li>
						<a href="/">{% trans "Inicio" %}</a>
					</li>
					<li>
						{% trans "Multimedias" %}
					</li>
					<li class="active">
						{% trans "Series Radiofónicas" %}
					</li>
				</ul>

			</div>

			</div>
			
		</div>
	</div>
</div>

<!--Breadcrumb Section End Here-->

<div class="content-wrapper" id="page-info">

	<!-- Gallery Sections Start Here -->
<section class="we-help gallery-wrap">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<!--Sub Breadcrumb Section Start Here-->

				<ol class="breadcrumb list-multimedia">
					<li>
						<a href="/multimedias/fotos/" class="">{% trans "Galerias de fotos" %}</a>
					</li>
					<li>
						<a href="/multimedias/videos/" class="">{% trans "Videos" %}</a>
					</li>
					<li>
						<a href="/multimedias/documentales/" class="">{% trans "Documentales" %}</a>
					</li>
					<li>
						<a href="/multimedias/audios/" class="">{% trans "Series Radiofónicas" %}</a>
					</li>

				</ol>
				<!--Sub Breadcrumb Section End Here-->
				{% paginate object_list %}
				<div class="row gallery">
				<h2>{% trans "Series Radiofónicas" %}</h2>
				{% for obj in object_list %}
					<div class="cols-xs-12 col-sm-6">
						{% if  obj.foto %}
							{% thumbnail obj.foto "310x310" as img %}
								<img class="img-thumbnail" src="/media/{{img}}" alt="">
							{% endthumbnail %}
						{% else %}
							<img class="img-thumbnail" src="http://placehold.it/310x310" alt="">
						{% endif %}
						<h3>{% trans "Serie radiofónica" %}: <strong><a href="{% url 'audios-detail' obj.id %}">{{obj.nombre}}</a></strong></h3>

					</div>
				{% endfor %}	
				</div>
			</div>

			</div>
			<!--Pagination Section Start Here-->
			<div class="cols-xs-12 text-center">
				<ul class="pagination">
					<li>{% show_pages %}</li>
				</ul>
					
  				</div>
		</div>
	</section>
	<!-- Gallery Sections Start Here -->

</div>

<!-- site content ends -->
{% endblock contenido %}