{% extends "cambiaahora/base.html" %}

{% load thumbnail %}
{% load embed_video_tags %}

{% block titulo %}
	:: {{object.nombre}} ::
{% endblock titulo %}

{% block contenido %}
<!-- Breadcrumb Section Start Here -->
<div class="breadcrumb-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Noticia </h1>
				<ul class="breadcrumb">
					<li>
						<a href="index.html">Inicio</a>
					</li>
					<li>
						<a href="notas.html">Audio</a>
					</li>
					<li class="active">
						{{object.nombre}}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Breadcrumb Section End Here -->
<div class="content-wrapper" id="page-info">

	<!-- portfolio detail sections -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12">

				<header class="page-header section-header text-center">
					<h2>{{object.nombre|upper}}</h2>
					<img class="social-img" src="newimg/social.png" alt="">
				</header>
				<br>
				<div class="portfolio-detail-description">
					{% thumbnail object.foto "800x500" as img %}
						<a href="#" class="img-thumb">
							<img alt="" src="/media/{{img}}" class="center-block">
						</a>
					{% endthumbnail %}
					
					<div class="row portfolio-details">
						<div class="col-xs-12">

							<div class="detail-description">

								<p class="">
									{{object.descripcion|safe}}
								</p>
								<audio preload></audio>
							      	<div class="track-details">
    								</div>
								<div class="playlist-audio">
									<ol class="list-group">
									{% for audios in object.subiraudios_set.all %}
										<li class="list-group-item">
									        <span class="fa"></span>
									        <a href="#"  data-src="/media/{{audios.audio}}">{{audios.titulo}}</a>
								        </li>
									{% endfor %}
								        
								    </ol>
								</div>
							</div>
						</div>

			</div>
		</div>
	</div>
	<!--  sections end -->

</div>

</div>
</div>

{% endblock contenido %}