{% extends "cambiaahora/base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load embed_video_tags %}
{% load endless %}
{% load staticfiles %}

{% block titulo %}
	:: {{object.nombre}} ::
{% endblock titulo %}

{% block share_fb %}
<meta property="og:title" content="{{object.nombre}}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="http://web.cambiaahora.com/media/{{object.foto}}">
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta property="og:description" content="{{object.descripcion}}" />
<meta property="og:url" content="http://web.cambiaahora.com{{request.path}}" />
<meta property="og:locale" content="es_ES" />
{% endblock share_fb %}

{% block social %}
    <script src="{% static 'cambiaahora/js/social.js' %}"></script>
{% endblock social %}

{% block extra_js %}
<link rel="stylesheet" href="/static/cambiaahora/css/galeria.css">

 {% endblock extra_js %}

{% block contenido %}
<!-- Breadcrumb Section Start Here -->
<div class="breadcrumb-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>{% trans "Galerias" %}</h1>
				<ul class="breadcrumb">
					<li>
						<a href="/">{% trans "Inicio" %}</a>
					</li>
					<li>
						<a href="/multimedias/fotos/">{% trans "Galeria" %}</a>
					</li>
					<li class="active">
						{{object.nombre}}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Breadcrumb Section End Here -->
<div class="content-wrapper" id="page-info">

	<!-- portfolio detail sections -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12">

				<header class="page-header section-header text-center">
					<h2>{{object.nombre|upper}}</h2>
					
				</header>
				<div id="share-buttons">
					
						<a class="facebook customer share" href="http://www.facebook.com/sharer.php?u=http://web.cambiaahora.com{{request.path}}" title="Facebook share" target="_blank"><img src="{% static 'cambiaahora/img/facebook.png' %}"></a>
				
						<a class="twitter customer share" href="http://twitter.com/share?url=http://web.cambiaahora.com{{request.path}}&amp;text={{object.titulo}}" title="Twitter share" target="_blank"><img src="{% static 'cambiaahora/img/twitter.png' %}"></a>
					
						<a class="google_plus customer share" href="https://plus.google.com/share?url=http://web.cambiaahora.com{{request.path}}" title="Google Plus Share" target="_blank"><img src="{% static 'cambiaahora/img/g+.png' %}"></a>
					
				
				</div>
				<br>
				<div class="portfolio-detail-description">
					
					<div class="row portfolio-details">
						<div class="col-xs-12">

							<div class="detail-description">

								<p class="">
									{{object.descripcion|safe}}
								</p>
									
								

					<div class="popup-detalle">
					{% for vd in object.subirfotos_set.all %}
						<a href="/media/{{vd.foto}}" title="{{vd.titulo}}">
							{% thumbnail vd.foto "272x200" as img %}
								<img src="/media/{{img}}" alt="">
							{% endthumbnail %}
						</a>
					
					{% endfor %}
					</div>



							</div>
						</div>

			</div>
		</div>
	</div>
	<!--  sections end -->

</div>

</div>
</div>

{% endblock contenido %}