{% extends "cambiaahora/base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block titulo %}
	:: {{object.nombre}} ::
{% endblock titulo %}

{% block share_fb %}
<meta property="og:title" content="{{object.nombre}}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="http://web.cambiaahora.com/media/{{object.foto}}">
<meta property="og:image:width" content="300" />
<meta property="og:image:height" content="300" />
<meta property="og:description" content="{{object.descripcion}}" />
<meta property="og:url" content="http://web.cambiaahora.com{{request.path}}" />
<meta property="og:locale" content="es_ES" />
{% endblock share_fb %}

{% block social %}
    <script src="{% static 'cambiaahora/js/social.js' %}"></script>
{% endblock social %}

{% block contenido %}
<!-- Breadcrumb Section Start Here -->
<div class="breadcrumb-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>{% trans "Videos" %}</h1>
				<ul class="breadcrumb">
					<li>
						<a href="/">{% trans "Inicio" %}</a>
					</li>
					<li>
						<a href="/multimedias/videos/">{% trans "Videos" %}</a>
					</li>
					<li class="active">
						{{object.nombre}}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Breadcrumb Section End Here -->
<div class="content-wrapper" id="page-info">

	<!-- portfolio detail sections -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12">

				<header class="page-header section-header text-center">
					<h2>{{object.nombre|upper}}</h2>
				</header>
				<div id="share-buttons">
					
						<a class="facebook customer share" href="http://www.facebook.com/sharer.php?u=http://web.cambiaahora.com{{request.path}}" title="Facebook share" target="_blank"><img src="{% static 'cambiaahora/img/facebook.png' %}"></a>
				
						<a class="twitter customer share" href="http://twitter.com/share?url=http://web.cambiaahora.com{{request.path}}&amp;text={{object.titulo}}" title="Twitter share" target="_blank"><img src="{% static 'cambiaahora/img/twitter.png' %}"></a>
					
						<a class="google_plus customer share" href="https://plus.google.com/share?url=http://web.cambiaahora.com{{request.path}}" title="Google Plus Share" target="_blank"><img src="{% static 'cambiaahora/img/g+.png' %}"></a>
					
				
				</div>
				<br>
				<div class="portfolio-detail-description">
					{% thumbnail object.foto "800x500" as img %}
						<a href="#" class="img-thumb">
							<img alt="" src="/media/{{img}}" class="center-block">
						</a>
					{% endthumbnail %}
					
					<div class="row portfolio-details">
						<div class="col-xs-12">

							<div class="detail-description">

								<p class="">
									{{object.descripcion|safe}}
								</p>

								{% for vd in object.subirvideos_set.all %}
									<div class="embed-responsive embed-responsive-16by9">
									 {% video vd.video as video %}
										<img  src="{{ video.thumbnail }}" width=555 height=341 alt="Click to play" data-video="{{video.url}}"/>
									 {% endvideo %}
									 <h3 class="h3">{{vd.titulo}}</h3>
									</div>
								{% endfor %}
							</div>
						</div>

			</div>
		</div>
	</div>
	<!--  sections end -->

</div>

</div>
</div>

{% endblock contenido %}