{% extends "cambiaahora/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load embed_video_tags %}
{% load thumbnail %}

{% block titulo %}
	:: {% trans "videos" %}
{% endblock titulo %}

{% block contenido %}
	<!-- site content -->
<div id="main">
<!--Breadcrumb Section Start Here-->
<div class="breadcrumb-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-8">
				<h1>Programación</h1>
				<ul class="breadcrumb">
					<li>
						<a href="/">Inicio</a>
					</li>
					<li>
						Multimedias
					</li>
					<li class="active">
						Videos
					</li>
				</ul>

			</div>

			</div>
			
		</div>
	</div>
</div>

<!--Breadcrumb Section End Here-->

<div class="content-wrapper" id="page-info">

	<!-- Gallery Sections Start Here -->
<section class="we-help gallery-wrap">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<!--Sub Breadcrumb Section Start Here-->

				<ol class="breadcrumb">
					<li>
						<a href="/multimedias/fotos/" class="btn btn-default btn-nota">{% trans "Galerias de fotos" %}</a>
					</li>
					<li>
						<a href="/multimedias/videos/" class="btn btn-default btn-nota">{% trans "Videos" %}</a>
					</li>
					<li>
						<a href="/multimedias/documentales/" class="btn btn-default btn-nota">{% trans "Documentales" %}</a>
					</li>
					<li>
						<a href="/multimedias/audios/" class="btn btn-default btn-nota">{% trans "Audios" %}</a>
					</li>

				</ol>
				<!--Sub Breadcrumb Section End Here-->
				<div class="row gallery">
				<h2>Videos</h2>
				{% for obj in object_list %}
					<div class="cols-xs-12 col-sm-6">
						<div class="thumbnail embed-vedio">
						{% for vd in obj.subirvideos_set.all|slice:":1" %}
							<div class="embed-responsive embed-responsive-16by9">
							 {% video vd.video as video %}
								<img  src="{{ video.thumbnail }}" width=555 height=341 alt="Click to play" data-video="{{video.url}}"/>
							 {% endvideo %}
							</div>
						{% endfor %}
							<h3 class="h3"><a  href="{% url 'videos-detail' obj.id %}">{{obj.nombre}}</a></h3>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>

			</div>
			<!--Pagination Section Start Here-->
			    {% if is_paginated %}
				    <div class="cols-xs-12 text-center">  
						{% load paginador %}
						{% render_paginator 2 3 %}
					</div>
				{% endif %}
				<!--Pagination Section Start Here-->
		</div>
	</section>
	<!-- Gallery Sections Start Here -->

</div>

<!-- site content ends -->
{% endblock contenido %}